{% extends 'main.html' %}
{% load static %}

{% block title %}Чат{% endblock %}

{% block nav %}
    {% url 'boat:view' boat.id as view_url %}
    {% include 'boat/nav_replacer.html' with back_link=request.GET.back|default:view_url  %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var boatId = {{ boat.pk }},
            boatName = "{{ boat.name }}";
    </script>

    <script type="text/javascript" src="{% static 'chat/js/boat.min.js' %}"></script>

    {% include 'chat/chat.html' %}
    {% include 'chat/footer.html' %}
{% endblock  %}