{% extends 'main.html' %}

{% load static %}
{% load booking_extras %}

{% block title %}Чат{% endblock %}

{% block nav %}
    {% url 'booking:view' booking.id as view_url %}
    {% include 'booking/nav_replacer.html' with back_link=request.GET.back|default:view_url %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var bookingId = {{ booking.pk }};
    </script>

    <script type="text/javascript" src="{% static 'chat/js/booking.min.js' %}"></script>

    {% include 'chat/chat.html' %} 
{% endblock  %}

{% block footer %}
    {% include 'chat/footer.html' %}
{% endblock %}