{% extends 'main.html' %}

{% load static %}
{% load booking_extras %}

{% block title %}Чат{% endblock %}

{% block content %}
    
    <script type="text/javascript">
        var messages = {{ messages|safe }},
            bookingId = {{ booking.pk }};
    </script>

    <script type="text/javascript" src="{% static 'chat/js/booking.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/booking.css' %}">

    <div id="bookingData" class="fixed-top top-0-header alert rounded-0 {{ booking.status|get_status_color }}" role="alert">
        <div class="container-lg">
            {% include 'booking/booking_data.html' with show_name=True %}     
        </div>
    </div>

    <div class="container-lg">
        <div id="msgContainer" class="list-group overflow-auto"></div>
    </div>
    
    <div class="fixed-bottom bg-light py-3">
        <div class="container-lg">                 
            <div class="row g-3">
                <div class="col">
                    <textarea id="textArea" rows="1" class="form-control" placeholder="Сообщение..." autocomplete="off" autofocus></textarea> 
                </div>
                <div class="col-auto">
                    <button type="button" id="btnSendMessage" class="btn btn-outline-primary" autocomplete="off" disabled>Отправить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}