<div class="fixed-bottom bg-light py-3">
    <div class="container-lg">                 
        <div class="row g-3">
            <div class="col">
                <textarea id="textArea" rows="1" class="form-control" placeholder="Сообщение..." autocomplete="off" autofocus></textarea> 
            </div>
            <div class="col-auto">
                <button type="button" id="btnSendMessage" class="btn btn-outline-primary" autocomplete="off" disabled>Отправить</button>
            </div>
        </div>
    </div>
</div>