{% extends 'main.html' %}
{% load static %}

{% block title %}Сообщения{% endblock  %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading mb-0">Сообщения</h1>
        </div>
    </section>

    <div class="container md-container">
        <div class="list-group">
            {% for message in messages %}
                <a class="list-group-item d-flex gap-3 py-3" href="{{ message.get_href }}?back={{ request.get_full_path }}">
                    {% if message.sender.avatar %}
                        <img height="32" width="32" src="{{ message.sender.avatar.url }}" class="rounded-circle chat-avatar">
                    {% else %}
                        <div style="width:32px; height:32px; min-width: 32px !important; min-height: 32px;"></div>
                    {% endif %}
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">{{ message.get_title }}</h6>
                          <p class="mb-0 opacity-75">{% if not message.sender %}{% elif message.sender == user %}Вы: {% else %}{{ message.sender.first_name }}: {% endif %}{{ message.text }}</p>
                        </div>
                        <div class="text-nowrap text-end">
                            <div class="text-muted">{{ message.sent_at|date:'d b. Y' }}</div>
                            <div class="text-muted">{{ message.sent_at|date:'H:i' }}</div>
                            {{ message.get_badge|safe }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
{% endblock  %}