{% extends 'main.html' %}
{% load static %}

{% block title %}Сообщения{% endblock  %}

{% block content %}
    
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Сообщения</h1>
        </div>
    </section>

    <div class="container">
        <div class="list-group">
            {% for message in messages %}
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3" href="{{ message.href }}?back={{ request.get_full_path }}">
                    {{message.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    
{% endblock  %}