<div>
    <div>
        <h5>{{ booking.get_status_display }}</h5>
    </div>
    <div>
        {{ booking.start_date|date:'d b. Y' }} - {{ booking.end_date|date:'d b. Y' }}
    </div>
    <div>
        <strong>{{ booking.total_sum }}&nbsp;₽</strong>
    </div>
    {% if booking.renter != user %}
        <div class="mt-2">
            {% if booking.renter.avatar %}
                <img height="32" width="32" src="{{ booking.renter.avatar.url }}" class="rounded-circle">
            {% endif %}
            <span class="text-muted align-middle">{{ booking.renter.first_name }}</span>
        </div>
    {% endif %}
</div>