{% extends 'main.html' %}

{% load static %}

{% block title %}Подтверждение бронирования{% endblock %}

{% block content %}
    <div class="container-lg" style='margin-bottom: calc(70px + 1rem)'>
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Подтверждение бронирования</h1>    
        </section>


    </div>
    <div class="fixed-bottom bg-light py-3">
        <div class="container-lg">
            <div class="row g-2">
                <div class="col col-lg-auto">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock  %}