{% extends 'main.html' %}

{% load static %}

{% block title %}Мои бронирования{% endblock  %}

{% block content %}
    <script type="text/javascript" src="{% static 'booking/js/my_bookings.min.js' %}"></script>
    
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Мои бронирования</h1>
        </div>
    </section>

    {% include 'booking/nav_status.html' %}

    {% if bookings %}
        {% include 'booking/bookings_list_card.html' %}
    {% else %}
        <div class="text-center text-muted">Нет бронирований. <a href="/">Найти лодку</a>.</div>
    {% endif %}

{% endblock  %}