{% extends 'main.html' %}

{% load static %}
{% load booking_extras %}

{% block title %}Просмотр бронирования{% endblock %}

{% block content %}
    <div class="container-lg" style='margin-bottom: calc(70px + 1rem)'>
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Просмотр бронирования</h1>    
        </section>
        {% include 'boat/view_base.html' with boat=booking.boat %}    
        <h5>Информация о бронировании</h5>   
        <div class="alert {{ booking.status|get_status_color }}" role="alert"> 
            {% include 'booking/booking_data.html' %}   
        </div>
    </div>
    <div class="fixed-bottom bg-light py-3">
        <div class="container-lg">
            <a class="btn btn-outline-primary" href="{% url 'chat:booking' booking.pk %}" role="button">Перейти в чат</a>
        </div>
    </div>
{% endblock  %}