{% extends 'main.html' %}

{% load static %}
{% load booking_extras %}

{% block title %}Просмотр бронирования{% endblock %}

{% block content %}
    <div class="container-lg" style='margin-bottom: calc(70px + 1rem)'>
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Просмотр бронирования</h1>    
        </section>

        <div class="alert {{ booking.status|get_status_color }}" role="alert"> 
            {% include 'booking/booking_data.html' %}   
        </div>

        {% include 'boat/view_base.html' with boat=booking.boat %}    
    </div>
    <div class="fixed-bottom bg-light py-3">
        <div class="container-lg">
            <div class="row row-cols-lg-auto g-3">
                <div class="col">
                    <a class="btn btn-primary w-100" href="{% url 'chat:booking' booking.pk %}" role="button">Чат</a>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}