{% extends 'main.html' %}

{% load static %}
{% load booking_extras %}

{% block title %}Просмотр бронирования{% endblock %}

{% block content %}
    <div class="container-lg">
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Просмотр бронирования</h1>    
        </section>

        <div class="card mb-3">
            <div class="alert {{ booking.status|get_status_color }} bg-white mb-0" role="alert"> 
                {% include 'booking/booking_data.html' %}   
            </div>
        </div>

        {% include 'booking/view_boat.html' %}

        {% if booking.boat_info.term_content %}
            <div class="card mb-3 p-3">
                <h4>Условия аренды</h4>
                <div>
                    {{ booking.boat_info.term_content|safe }}
                </div>
            </div>
        {% endif %}

        {% include 'booking/spec.html' with spec=booking.spec total_sum=booking.total_sum %}
        
    </div>
    <div class="sticky-bottom action-footer mb-3">
        <div class="container-lg">
            <div class="card p-3">
                <div class="row g-2">
                    <div class="col col-lg-auto">
                        <a class="btn btn-primary w-100" href="{% url 'chat:booking' booking.pk %}" role="button">Чат</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}