{% extends 'main.html' %}
{% block title %}Портал{% endblock %}

{% block content %}
    <div class="container-lg pt-3">
        {% if category %}

            {% include 'portal/breadcrumb.html' %}

            <h2>{{ category.name }}</h2>
            <div class="django-summernote-container">{{ category.description|safe }}</div>

            <ul class="list-group list-group-flush mb-3">
                {% for subcat in category.categories.published %}
                    <li class="list-group-item"><a href="{{ subcat.full_path }}">{{ subcat.name }}</a></li>
                {% endfor %}
            </ul>

            {% include 'paginator.html' with class="mb-3" %}

            <div class="row g-3">
                {% for article in articles %}
                    <div class="col-md-4">       
                        <a href="{{ article.full_path }}" class="text-decoration-none">       
                            <div class="card box-shadow h-100 rounded-3">
                            
                                {% if article.preview_img %}
                                    <img src="{{ article.preview_img.url }}" class="card-img-top">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.name }}</h5>
                                    <p class="card-text">{{ article.preview_text }}</p>
                                </div>
                            
                            </div>     
                        </a>     
                    </div>
                {% endfor %}
            </div>

            {% include 'paginator.html' with class="mt-3" %}

        {% else %}
            
            <div class="text-center">
                <p class="lead text-muted">Страница не найдена</p>
                <a class="" href="{% url 'portal:portal' %}">На главную</a>
            </div>

        {% endif %}
    </div>
{% endblock  %}