{% extends 'main.html' %}
{% block title %}Портал{% endblock %}

{% block content %}
    <div class="container-lg">
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Портал</h1>    
        </section>

        {% if category %}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                {% for cat in category.get_list_parent reversed %}
                    {% if request.get_full_path == cat.full_path %}
                        <li class="breadcrumb-item active">{{ cat.name }}</li>                
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ cat.full_path }}">{{ cat.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ol>
            </nav>

            <h2>{{ category.name }}</h2>
            <div class="django-summernote-container">{{ category.description|safe }}</div>

            <ul class="list-group mb-3">
                {% for subcat in category.categories.published %}
                    <li class="list-group-item"><a href="{{ subcat.full_path }}">{{ subcat.name }}</a></li>
                {% endfor %}
            </ul>

            <div class="row g-3">
                {% for article in category.articles.published %}
                    <div class="col-md-4">
                        <div class="card box-shadow h-100">
                            {% if article.preview_img %}
                                <img src="{{ article.preview_img.url }}" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ article.name }}</h5>
                                <p class="card-text">{{ article.preview_text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            
            {% include  'not_found.html' %}
            <div class="text-center">
                <a class="" href="{% url 'portal:portal' %}">На главную</a>
            </div>

        {% endif %}
    </div>
{% endblock  %}