html, body {
    scroll-behavior: unset !important;
}

#textArea {
    resize: none;
}

#wrapperMsgContainer {
    margin-top: calc(114px + 1rem);
    margin-bottom: 70px;
}

#bookingData {
    z-index: 1029;
}

img.chat-avatar {
    min-width: 32px;
    min-height: 32px;
}