html, body {
    scroll-behavior: unset !important;
}

#textArea {
    resize: none;
}

#wrapperMsgContainer {
    margin-top: calc(106px + 1rem);
    margin-bottom: 70px;
}

#bookingData {
    z-index: 1029;
}