html, body {
    scroll-behavior: unset !important;
}

#textArea {
    resize: none;
}

#wrapperMsgContainer {
    margin-top: calc(1rem);
    margin-bottom: 70px;
}

#msgContainer img.chat-avatar {
    min-width: 32px;
    min-height: 32px;
}