.navbar {
    background-color: var(--primary);
    font-size: 1.25rem;
}

.navbar-brand {
    border-right: 1px solid white;
    padding-right: 20px;
    font-size: 2rem;
}

.nav-link, .navbar-brand {
    color: white !important;
}

