body {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70)), url('/static/img/index2.webp');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#search {
    height: calc(100vh - var(--header-padding-top));
}

#feedback {
    min-height: 50vh;
}

.chevron-down a:hover {
    color: var(--bs-warning)
}

.step {
    opacity: 0;
}

.start-anim .fadein {
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.start-anim .scale {
    animation-name: scale;
    animation-duration: .5s;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

.easter-anim {  
    animation-name: rotation;
    animation-duration: 1.5s;
}