body, #youcando, #clients {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
} 

body {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.50)), url('/static/img/index2.webp');
}

.mw-900 {
    max-width: 900px;
}

#search {
    height: calc(100vh - var(--header-padding-top));
}

#youcando {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.50)), url('/static/img/index3.webp');
}

#clients {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.50)), url('/static/img/index4.webp');
}

#feedback, #about, #youcando {
    min-height: 50vh;
}

ul li {
    list-style-position: outside;
    list-style-type: square;
}

ul li::marker {
    color: var(--bs-warning);
}

.chevron-down a:hover {
    color: var(--bs-warning)
}