
:root {
    --jumbotron-padding-y: 2rem;
    --header-padding-top: 62px;
}

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

.scroll-hiding {
    z-index: 1029;
}

#map {
    border-radius: 0.25rem;
    z-index: 5;
    height: 500px;
    max-height: 65vh;
}

.form-input-min-width input[type="date"], .form-input-min-width input[type="number"], .form-input-min-width input[type="text"], .form-input-min-width select {
    min-width: 207px;
}

body {
    height: 100%;
    color: var(--bs-primary);
}

body > .main-content-container {
    padding-top: var(--header-padding-top);
    margin-bottom: 1rem;
}  

.loading-ship-wheel {  
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }    
    100% {
        transform: rotate(360deg);
    }
}

#overlayPanel {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
}

#overlayPanel > div {
    background-color: var(--bs-gray-200);
    height: 100%;
}


