
:root {
    --jumbotron-padding-y: 2rem;
    --header-padding-top: 62px;
}

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

#map {
    border-radius: 0.25rem;
    height: 500px;
    max-height: 50vh;
}

.ls-1 {
    letter-spacing: 1vw;
    margin-right: 1vw;
}

.stroke {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

html, body {
    height: 100%;
    color: var(--bs-primary);
}

.main-content-container {
    min-height: calc(100% - var(--header-padding-top));
}

footer {
    clear: both;
    position: relative;
    height: 100px;

}

.note-btn.dropdown-toggle:after {
    content: none;
}

.note-editor.fullscreen .note-editing-area {
    background-color: white;
}

.was-validated .form-control:invalid + .note-editor {
    border-color: var(--bs-danger);
}

.loading-ship-wheel {  
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }    
    100% {
        transform: rotate(360deg);
    }
}

.of-cover {
    object-fit: cover;
    min-width: 32px;
    min-height: 32px;
}

#overlayPanel {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: 1100;
    background-color: var(--bs-gray-200);
}

ul.errorlist {
    margin-bottom: 0;
}

input[readonly].false-readonly {
    background-color: white !important;
}

.air-datepicker-global-container {
    z-index: 99999 !important;
}

.scale-anim {
    animation-name: scale;
    animation-duration: .5s;
}

.downsize-anim {
    animation-name: downsize;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes downsize {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.enlarge-anim {
    animation-name: enlarge;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes enlarge {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.django-summernote-container img {
    max-width: 100% !important;
    object-fit: cover;
}

.slide-down {
    animation-name: slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-down {
    100% {
        bottom: -100%;
        display: none;
    }
}