
:root {
    --jumbotron-padding-y: 3rem;
}

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

body > .main-content-container {
    padding-top: 62px;
}  

.loading-ship-wheel {  
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }    
    100% {
        transform: rotate(360deg);
    }
}

