{% extends 'main.html' %}

{% load static %}

{% block title %}Добавить актив{% endblock  %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'asset/css/create_update.css' %}">

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <div class="container">
        <section class="jumbotron text-center">   
          <h1 class="jumbotron-heading">{% if asset %}Изменить{% else %}Добавить{% endif %}  актив</h1>    
        </section>
        
        <form action="." method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Название актива</label>
                <input type="text" id="name" name="name" class="form-control" 
                    {% if asset %} value="{{ asset.name }}" {% endif %} 
                    placeholder="Введите название актива" 
                    required 
                    {% if not asset %} autofocus {% endif %}        
                >

                <hr class="mb-4">
                <h4 class="mb-3">Фотографии</h4>
                <div id="react_app">Загрузка...</div>
                <script type="text/babel" src="{% static 'asset/js/react_comp.js' %}"></script>
                <hr class="mb-4">

            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>

{% endblock  %}