{% extends 'main.html' %}

{% load static %}

{% block title %}Добавить актив{% endblock  %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'asset/css/create_update.css' %}">
    <script type="text/javascript" src="{% static 'asset/js/create_update.js' %}"></script>

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="container">
        <section class="jumbotron text-center">   
          <h1 class="jumbotron-heading">{% if asset %}Изменить{% else %}Добавить{% endif %}  актив</h1>    
        </section>
    
        <form action="." method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Название актива</label>
                <input type="text" id="name" name="name" class="form-control" 
                    {% if asset %} value="{{ asset.name }}" {% endif %} 
                    placeholder="Введите название актива" 
                    required 
                    {% if not asset %} autofocus {% endif %}        
                >
            </div>
            <div class="form-group">
                <h4 class="mb-3">Фотографии</h4>
                <div id="react_app">Загрузка...</div>
                <script type="text/babel" src="{% static 'asset/js/files_list.js' %}"></script>
            </div>
            <hr>
            <button id="saveBtn" type="button" class="btn btn-success">Сохранить</button>
        </form>

    </div>

{% endblock  %}