{% extends 'main.html' %}

{% load static %}

{% block title %}Добавить актив{% endblock  %}

{% block content %}
    {% include 'react.html' %}

    <div class="container">
        <section class="jumbotron text-center">
          <h1 class="jumbotron-heading">Добавить актив</h1>    
        </section>

        <div id="react_app">
            <div class="text-center">
                <img class="loading-ship-wheel" src="{% static 'img/ship-wheel-2.png' %}" />
            </div>
        </div>
        <script type="text/javascript" src="{% static 'asset/js/create.min.js' %}"></script>

    </div>

{% endblock  %}