{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock  %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'asset/css/style.css' %}">
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>    
    
    <div class="asset-list">
        <ul>
        {% for asset in assets %}
            <li>{{ asset.name }}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="app">Загрузка...</div>
    <script src="{% static 'asset/js/compiled.js' %}"></script>
{% endblock  %}