{% extends 'main.html' %}

{% load static %}

{% block title %}Добавить объявление{% endblock %}

{% block content %}
    <div class="container">
        <section class="jumbotron text-center">
          <h1 class="jumbotron-heading">Добавить объявление</h1>    
        </section>

        <form method="post" action="{% url 'post:api_create' %}" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% include 'post/form.html' %}                
            <hr/>
            <button type="submit" class="btn btn-outline-success mb-3">Сохранить</button>
        </form>

    </div>

{% endblock  %}