{% extends 'user/main.html' %}

{% load static %}

{% block title %}Смена пароля{% endblock %}
{% block content %}
    <script type="text/javascript" src="{% static 'user/js/change_password.min.js' %}"></script>

    <form action="{% url 'user:change_password' token=token %}" method="post" class="form-signin needs-validation" novalidate>
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Смена пароля</h1>    

        {% if errors %}
            <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        
        <div class="form-floating mb-3">           
            <input id="email" type="email" name="email" placeholder="Эл. почта" required class="form-control" autocomplete="username" value="{{ email }}" readonly>
            <label for="email">Эл. почта</label>
        </div>

        <div class="form-floating mb-3">                   
            <input id="password1Input" type="password" name="password1" placeholder="Пароль" required class="form-control" autocomplete="new-password">
            <label for="password1Input">Пароль</label>
            <div class="invalid-tooltip">Введите пароль</div>
        </div>
        <div class="form-floating mb-3">          
            <input id="password2Input" type="password" name="password2" placeholder="Повторите пароль" required class="form-control" autocomplete="new-password">
            <label for="password2Input">Повторите пароль</label>
            <div class="invalid-tooltip">Повторите пароль</div>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Сменить пароль</button>
    </form>
{% endblock %}