{% extends 'main.html' %}

{% block title %}Ссылка устарела{% endblock  %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading mb-4">{{msg}}</h1>
      <p>
          {% if user.is_authenticated %}
            <a href="{% url 'user:update' %}" class="btn btn-primary my-2">Перейти в профиль</a>
          {% else %}
            <a href="{% url 'user:login' %}?next=/" class="btn btn-primary my-2">Войти в учетную запись</a>
          {% endif %}
      </p>
    </div>
  </section>
{% endblock %}