
{% load static %}

<html lang="ru">
    <head>
        <title>Авторизация</title>
        {% include 'bootstrap.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/css/login.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{% static 'user/js/login.min.js' %}"></script>
    </head>
    <body>

        <form id="signup" action=".?next={{ request.GET.next }}" method="post" class='form-signin'>
            {% csrf_token %}

            <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>  
            
            {% if errors %}
                <div class="alert alert-danger">{{ errors }}</div>
            {% endif %}  
            
            <label for="email" class="visually-hidden">Эл. почта: </label>
            <input id="email" type="email" name="email" {% if email %}value={{ email }} {% endif %} autocomplete="email" placeholder="Эл. почта" required class="form-control" >
                
            <label for="password" class="visually-hidden">Пароль: </label>
            <input id="password" type="password" name="password" autocomplete="current-password" 
                placeholder="Пароль" required class="form-control" {% if errors %} autofocus {% endif %}>

            <input type="hidden" name="next" value={{ request.GET.next }} >
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            <p>
                Нет аккаунта? <a href="/user/register/">Зарегистрироваться</a>
            </p>
        </form>
    </body>
</html>