{% extends 'main.html' %}

{% load static %}

{% block title %}Профиль{% endblock  %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/profile.css' %}">

    <div class="container">
        <section class="jumbotron text-center">     
          <img src="{{ user.avatar.url }}" class="img-fluid rounded-circle avatar" alt="...">
        </section>

        <form action='/user/logout/' method='post'>
            {% csrf_token %}
            <a class="btn btn-outline-danger" href="/user/logout/">Выйти</a>           
        </form>
    </div>

{% endblock  %}