<html lang="ru">
    <head>
        <title>Регистрация</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body>
        <form action="." method="post" class='form-signin' 
            oninput='password2.setCustomValidity(password2.value != password1.value ? "Пароли не совпадают." : "")'
        >
            {% csrf_token %}

            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>    

            {% if errors %}
            <div class="alert alert-danger">{{ errors }}</div>
            {% endif %}
            
            <div class="form-group">
                <label for="email" class="sr-only">Эл. почта: </label>
                <input id="email" type="email" name="email" placeholder="Эл. почта" required class="form-control" >
                    
                <label for="password1" class="sr-only">Пароль: </label>
                <input id="password1" type="password" name="password1" placeholder="Пароль" required class="form-control">

                <label for="password2" class="sr-only">Повторите пароль: </label>
                <input id="password2" type="password" name="password2" placeholder="Повторите пароль" class="form-control">
            </div>

            <input type="hidden" name="next" value={{ request.GET.next }} >
            <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
        </form>
    </body>
</html>