{% extends 'user/main.html' %}

{% load static %}

{% block title %}Регистрация{% endblock %}
{% block content %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="{% static 'user/js/register.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/register.css' %}">
    <form action="." method="post" class="form-signin needs-validation" novalidate>
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>    

        {% if errors %}
            <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        
        <div class="form-floating mb-3">           
            <input id="email" type="email" name="email" placeholder="Эл. почта" required class="form-control" area-describedby="invalidInputName" autofocus autocomplete="username">
            <label for="email">Эл. почта</label>
            <div class="invalid-tooltip">Введите эл. почту</div>
        </div>
        <div class="form-floating mb-3">                   
            <input id="password1" type="password" name="password1" placeholder="Пароль" required class="form-control" autocomplete="new-password">
            <label for="password1">Пароль</label>
            <div class="invalid-tooltip">Введите пароль</div>
        </div>
        <div class="form-floating mb-3">          
            <input id="password2" type="password" name="password2" placeholder="Повторите пароль" required class="form-control" autocomplete="new-password">
            <label for="password2">Повторите пароль</label>
            <div class="invalid-tooltip">Повторите пароль</div>
        </div>

        <div class="form-floating mb-3">          
            <input id="first_name" type="text" name="first_name" class="form-control" placeholder="Имя" value="{{ first_name }}" required>
            <label for="first_name">Имя</label>
            <div class="invalid-tooltip">Укажите Ваше имя</div>
        </div>

        <input type="hidden" name="next" value={{ request.GET.next }} >

        <div class="g-recaptcha mb-3" data-sitekey="{{ recaptcha_key }}" data-callback="recaptchaCallback"></div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" disabled>Зарегистрироваться</button>
    </form>
{% endblock %}