{% extends 'user/main.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
        function recaptchaCallback() {
            $('form button[type="submit"]').removeAttr('disabled');
        }
    </script>
    <form id="signup" action="{% url 'user:send_restore_password_email' %}" method="post" class="form-signin needs-validation" novalidate>
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-center">Восстановление пароля</h1>  

        {% if errors %}
            <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
          
        <div class="form-floating mb-3">            
            <input id="email" type="email" name="email" autocomplete="email" placeholder="Эл. почта" required class="form-control" >
            <label for="email">Эл. почта</label>
            <div class="invalid-tooltip">Введите эл. почту</div>
        </div>
        <div class="g-recaptcha mb-3" data-sitekey="{{ recaptcha_key }}" data-callback="recaptchaCallback"></div>
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" disabled>Отправить письмо</button>
    </form>
{% endblock %}