{% extends 'user/main.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/restore_password.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">

    <form id="signup" action="." method="post" class="form-signin" novalidate>
        <h1 class="h3 mb-3 font-weight-normal">Восстановление пароля</h1>  
        
        <div id="alertEmail" class="alert alert-warning" style="display: none">
        </div>          
        
        <fieldset>
            <div class="form-floating mb-3">            
                <input id="email" type="email" name="email" autocomplete="email" placeholder="Эл. почта" required class="form-control" >
                <label for="email">Эл. почта</label>
                <div class="invalid-tooltip">Введите эл. почту</div>
            </div>

            <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Отправить письмо</button>
        </fieldset>
    </form>
{% endblock %}