{% extends 'main.html' %}

{% load static %}

{% block title %}Профиль{% endblock  %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/update.css' %}">
    <script type="text/javascript" src="{% static 'user/js/update.min.js' %}"></script>

    <div class="container">                 
        <section class="jumbotron text-center">     
            {% if user.avatar %}<img src="{{ user.avatar.url }}" class="img-fluid rounded-circle avatar">{% endif %}
        </section> 
        <form id="formProfile" action='.' method="post" class="needs-validation" novalidate>
            {% csrf_token %} 
            <div class="mb-3 ">
                <!--<div class="col-auto">-->
                    <label for="name">Эл. почта</label>
                    <input type="email" name="email" class="form-control" 
                        placeholder="Введите вашу электронную почту" 
                        required
                        disabled
                        value="{{ user.email }}"
                        aria-describedby="invalidInputEmail emailConfirmed"
                    />
                    <div id="invalidInputEmail" class="invalid-feedback">
                        Введите вашу электронную почту
                    </div>
                    {% if user.email_confirmed %}
                        <div id="emailConfirmed" class="form-text text-success">
                            Почта подтверждена
                        </div>
                    {% else %}        
                        <div id="emailConfirmed" class="form-text text-danger">
                            Почта не подтверждена
                        </div>
                        <button id="sendEmailConfirmation" type="button" class="btn btn-secondary btn-sm">Отправить письмо для подтверждения</button>                     
                    {% endif %}
                    
                <!--</div>
                <div class="col-auto">
                    <span class="text-danger">
                        Почта не подтверждена
                    </span>
                </div>-->
            </div>
            <div class="mb-3">
                <label for="name">Имя</label>
                <input type="text" name="first_name" class="form-control" 
                    placeholder="Введите ваше имя" 
                    autocomplete="false"
                    value="{{ user.first_name }}"
                />
            </div>
            <div class="row g-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
                <div class="col-auto">
                    <a class="btn btn-danger" href="/user/logout/">Выйти из аккаунта</a>    
                </div>
            </div>
        </form>
    </div>

    <div class="toast-container position-absolute p-3 top-0-header start-50 translate-middle-x">
        <div id="toast" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

{% endblock  %}