{% extends 'main.html' %}

{% load static %}
{% load extras %}

{% block title %}Профиль{% endblock  %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/update.css' %}">
    <script type="text/javascript" src="{% static 'user/js/update.min.js' %}"></script>

    <div class="container-lg">                 
        <section class="jumbotron text-center">
            <div class="position-relative">    
                <img
                    {% if user.avatar %}data-do-save{% endif %}
                    width="150" height="150"
                    src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/blank-profile-picture.png' %}{% endif %}" 
                    class="rounded-circle avatar mb-3 of-cover" 
                    title="Сменить аватар"
                >
                <img id="loadingShipWheel" class="loading-ship-wheel position-absolute" src="{% static 'img/ship-wheel-2.png' %}" style="display: none;">
            </div>
            <p class="lead text-muted">
                <svg id="svgEmailConfirmed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <title>Почта подтверждена</title>
                    <path fill="#198754" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill="#198754" d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
                {{ user.email }}
            </p>
        </section> 
        {% include 'form_errors.html' %}
    </div>

    <form id="formProfile" action='.' method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %} 

        <div class="container-lg">
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}

            <input type="file" name="avatar" accept="image/*" hidden /> 
            <input type="text" name="email" hidden value="{{ user.email }}"/> 
            
            <div class="card p-3 mb-3">
                <h4 class="mb-3">Профиль</h4>
                <div class="form-floating mb-3">            
                    <input type="text" name="first_name" class="form-control" required
                        placeholder="Укажите" 
                        autocomplete="off"
                        value="{{ form.first_name.value }}"
                    />
                    <label for="first_name">{{ form.first_name.label }}</label>
                    <div class="invalid-tooltip">Укажите</div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="isBoatOwnerCheck" type="checkbox" name="is_boat_owner" {% if form.is_boat_owner.value %} checked {% endif %}>
                    <label class="form-check-label" for="isBoatOwnerCheck">{{ form.is_boat_owner.label }}</label>
                </div>
            </div>
            
            <div class="card p-3 mb-3">
                <h4 class="mb-3">Уведомления</h4>
                <div class="form-check">
                    <input class="form-check-input" id="emailNotificationCheck" type="checkbox" name="email_notification" {% if form.email_notification.value %} checked {% endif %}>
                    <label class="form-check-label" for="emailNotificationCheck">{{ form.email_notification.label }}</label>
                    <div class="form-text">{{ form.email_notification.help_text }}</div>
                </div>
            </div>

            <div class="card p-3 mb-3">
                <h4 class="mb-3">Telegram бот <a target="_blank" href="https://t.me/shareboat_bot">@botshareboat</a></h4>
                {% if user|hasattr:'telegramuser' %}
                    {% if user.telegramuser.chat_id %}
                        <div id="tgAuth" class="text-muted">
                            Авторизация пройдена. <a id="btnGenerateTgCode" href="#">Сгенерировать новый код</a>.                     
                        </div>    
                        <div id="tgCode"></div>     
                    {% else %}
                        <div>{{ tgcode_message|safe }}</div>
                    {% endif%}
                {% else %}
                    <div class="row">
                        <div class="col col-lg-auto">
                            <button id="btnGenerateTgCode" type="button" class="btn btn-outline-primary w-100">Сгенерировать код</button>
                        </div>
                    </div>
                    <div id="tgCode"></div>
                {% endif %}
            </div>
        </div>

        <div class="sticky-bottom container-lg mb-3">
            <div class="card p-3">
                <div class="row g-2">            
                    <div class="col col-lg-auto">
                        <button type="submit" class="btn btn-primary w-100">Сохранить</button>                          
                    </div>
                    <div class="col col-lg-auto">
                        <a class="btn btn-outline-danger w-100" href="/user/logout/">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock  %}