.nav-replacer {
    color: var(--bs-gray-200) !important;
}

.nav-replacer svg {
    color: var(--bs-gray-200) !important;
}

.nav-replacer .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 46px;
    font-size: 1.25rem;
    color: var(--bs-gray-200);
}

.nav-replacer .title div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}