{% if form.errors %}
    <div class="alert alert-danger">
        <ul class="errorlist">
            {% if form.non_field_errors %}
                <li>
                    Общие ошибки на форме
                    {{ form.non_field_errors }}
                </li>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    <li>
                        {{ field.label }}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}