{% if form.errors %}
    <div class="alert alert-danger">
        <ul class="list-group list-group-flush">            
            {% for error in form.non_field_errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
            {% endfor %}

            {% for field in form %}
                {% if field.errors %}
                    <li class="list-group-item list-group-item-danger"><strong>{{ field.label }}</strong> {{ field.errors|join:'; '|lower }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}