<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}

        {% if request.path == '/' %}
            <title>SHAREBOAT.RU</title>
        {% else %}
            <title>{% block title %}{% endblock %} - SHAREBOAT.RU</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
         
            ym(88868575, "init", {
                 clickmap:true,
                 trackLinks:true,
                 accurateTrackBounce:true,
                 webvisor:true,
                 ecommerce:"dataLayer"
            });
         </script>

        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bs-form-validation.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/nav.min.js' %}"></script> 

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-5.2.0.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extension.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/rounded-ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav_replacer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
        <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.png' %}"/>
        <link rel="manifest" href="{% static 'json/manifest.json' %}">
    </head>
    <body class="bg-light">
        <noscript><div><img src="https://mc.yandex.ru/watch/88868575" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        
        {% block nav %}
            {% include 'nav.html' %}
        {% endblock %}
        
        <div class="main-content-container">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}

        <div id="overlayPanel">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <img height="64" width="64" class="loading-ship-wheel" src="{% static 'img/ship-wheel.png' %}" />
                <div>Сохранение...</div>
            </div>       
        </div>

        {% include 'toast.html' %}

        {% if not request.COOKIES.all_cookies_accepted %}
            <div id="acceptAllCookies">
                <div class="bg-secondary text-white fixed-bottom py-3">
                    <div class="container">
                        Чтобы улучшить наш веб-сайт и сделать его удобнее для вас, мы используем файлы cookie. 
                        Продолжая его просматривать, вы принимаете нашу политику использования файлов cookie.
                        <a href="/portal/legaldocs/cookies/" class="text-white">Подробнее.</a>
                        <div class="my-2">
                            <button id="btnAcceptAllCookies" href="#" class="btn btn-outline-light">Понятно</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <script type="text/javascript" src="{% static 'js/bootstrap-5.2.0.bundle.min.js' %}"></script>
    </body>
</html>