
{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        {% if request.path == '/' %}
            <title>ShareBoat</title>
        {% else %}
            <title>{% block title %}{% endblock %} - ShareBoat</title>
        {% endif %}
            
        {% include 'bootstrap.html' %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{% static 'js/bs-form-validation.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/nav.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav_replacer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extension.css' %}">
        <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    </head>
    <body>
        
        {% block nav %}
            {% include 'nav.html' %}
        {% endblock %}

        <div class="main-content-container">
            {% block content %}{% endblock %}
        </div>

        <div id="overlayPanel">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <img class="loading-ship-wheel" src="{% static 'img/ship-wheel-2.png' %}" />
                <div class="message">Сохранение...</div>
            </div>       
        </div>

        {% include 'notification/notifications.html' %}
        {% include 'toast.html' %}

    </body>
</html>