
{% load static %}

<html lang="ru">
    <head>
        <title>{% block title %}Shareboat{% endblock %}</title>
            
        {% include 'bootstrap.html' %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extension.css' %}">
        <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
                <div class="container-md">
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand me-auto p-2" href="/">ShareBoat</a>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav  me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'boat:boats' %}">Мой флот</a>
                            </li>    
                        </ul>  
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                {% if user.is_authenticated %}
                                    <a id="userNameNavBar" class="nav-link" href="/user/update/">{{ user.first_name|default:user.email }}</a>
                                {% else %}
                                    <a class="nav-link" href="/user/login/?next={{ request.get_full_path }}">Войти</a>
                                {% endif %}
                            </li>
                        </ul> 
                    </div>
                </div>
            </nav>            
        </header>
        <div class="main-content-container">
            {% block content %}{% endblock %}
        </div>

        <div id="overlayPanel">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <img class="loading-ship-wheel" src="{% static 'img/ship-wheel-2.png' %}" />
                <div class="message">Сохранение...</div>
            </div>       
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNotifications" aria-labelledby="offcanvasNotificationsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNotificationsLabel">Уведомления</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                Уведомлений нет
            </div>
        </div>
    
        <div class="toast-container position-fixed p-3 top-0-header start-50 translate-middle-x">
            <div id="toast" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>

    </body>
</html>