{% load static %}

<script type="text/javascript" src="{% static 'js/modal_map.min.js' %}"></script>

<div id="modalMap" class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down" role="document">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title">Местоположение лодки</h5>
            </div>
            <div class="modal-body">
                <div class="mapContainer">
                    <div id="map" class="mb-3"></div>
                    <label class="addressLabel"></label>
                </div>
            </div>
            <div class="modal-footer">             
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
              </div>
        </div>
    </div>
</div>