<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container-md">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand me-auto p-2" href="/">ShareBoat</a>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto">    
                </ul>  
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a id="navbarDropdownUserProfile" class="nav-link dropdown-toggle" href="#"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            >
                                {% if user.avatar %}
                                    <img class="d-inline-block align-top nav-bar-avatar rounded-circle mx-2" src="{{ user.avatar.url }}" />
                                {% endif %}
                                <span>{{ user.first_name|default:user.email }}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUserProfile">
                                <li><a class="dropdown-item" href="{% url 'user:update' %}">Профиль</a></li>
                                <li><a class="dropdown-item" href="{% url 'boat:boats' %}">Флот</a></li>
                                <li><a class="dropdown-item" href="{% url 'post:my_posts' %}">Объявления</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:login' %}?next={{ request.get_full_path }}">Войти</a>
                        </li>
                    {% endif %}
                    </li>
                </ul> 
            </div>
        </div>
    </nav>            
</header>