{% load static %}

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container-md">
      
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <a class="navbar-brand me-auto p-2 pe-4" href="/">ShareBoat</a>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto">   
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'boat:boats' %}">Объявления</a>
                    </li>
                </ul>  
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a id="navbarDropdownUserProfile" class="nav-link dropdown-toggle align-middle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>{{ user.first_name|default:user.email }}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUserProfile">                            
                                <li><a class="dropdown-item" href="{% url 'boat:my_boats' %}">Флот</a></li>
                                <li><a class="dropdown-item" href="{% url 'booking:my_bookings' %}">Бронирования</a></li>
                                {% if perms.boat.can_view_boats_on_moderation %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'boat:boats_on_moderation' %}">
                                            Модерация лодок <span class="badge bg-secondary">{{ nav_counters.boats_on_moderation_count }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <li>
                                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNotifications" aria-controls="offcanvasNotifications">
                                        Уведомления {% if user.notifications.exists %}<span class="badge bg-danger">{{ user.notifications.count }}</span>{% endif %}
                                    </button>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'user:update' %}">Профиль</a></li>
                                <li><a class="dropdown-item text-danger" href="{% url 'user:logout' %}">Выйти</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:login' %}?next={{ request.get_full_path }}">Войти</a>
                        </li>
                    {% endif %}
                    </li>
                </ul> 
            </div>
        </div>
    </nav>            
</header>