{% extends 'main.html' %}

{% load static %}

{% block title %}Бронирование лодки{% endblock %}

{% block content %}
    <script type="text/javascript">
        var boatId = {{ boat.pk }}
            firstPriceDate = new Date('{{ first_price_date.isoformat }}'),
            lastPriceDate = new Date('{{ last_price_date.isoformat }}'),
            priceRanges = [],
            acceptedBookingsRanges = [],

            selectedStartDate = null,
            selectedEndDate = null,
            totalSum = null

        {% for price_range in price_ranges %}
            priceRanges.push({
                startDate: new Date(new Date('{{ price_range.0.isoformat }}').toDateString()),
                endDate: new Date(new Date('{{ price_range.1.isoformat }}').toDateString())
            })
        {% endfor %}

        {% for accepted_booking_range in accepted_bookings_ranges %}
            acceptedBookingsRanges.push({
                startDate: new Date(new Date('{{ accepted_booking_range.0.isoformat }}').toDateString()),
                endDate: new Date(new Date('{{ accepted_booking_range.1.isoformat }}').toDateString())
            })
        {% endfor %}       
    </script>

    <script type="text/javascript" src="{% static 'boat/js/booking.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/air-datepicker.css' %}">
    <script type="text/javascript" src="{% static 'js/air-datepicker.min.js' %}"></script>

    <div class="container-lg">
        <form method="post" action="{% url 'booking:api_create' %}" enctype="multipart/form-data" class="needs-validation form-input-min-width" novalidate>
            {% csrf_token %}

            <section class="jumbotron text-center">
                <h1 class="jumbotron-heading">Бронирование лодки</h1>    
            </section>

            <div class="row g-3"> 
                <div class="col-lg">
                    {% include 'boat/view_base_info.html' %}   
                </div>
            
                <div class="col-lg">
                    
                    <div class="mb-3">
                        {% if prices_exist %}

                            <div id="priceAlert" class="alert text-center fs-3 fw-light">
                                <span>Выберите период</span>
                            </div>
                    
                            <div class="form-floating mb-3">                 
                                <input id="dateRange" type="text" placeholder="Укажите период" class="form-control false-readonly" required autocomplete="off" readonly />
                                <label>Период бронирования</label>
                                <div class="invalid-tooltip">Укажите период бронирования</div>
                            </div>
                    
                            {% if user.is_authenticated %}
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg w-100">Забронировать</button>
                                </div>
                            {% else %}
                                <a href="{% url 'user:login' %}?next={{ request.get_full_path|urlencode }}" class="btn btn-primary btn-lg w-100">Войти для бронирования</a>
                            {% endif %}
                        {% else %}
                            <div class="alert text-center fs-5">Нет расценок</div>
                        {% endif %}
                    </div>     
                    {% include 'boat/view_base_specs.html' %}   
                </div>           
            </div>
            
        </form>
    </div>
{% endblock  %}