{% extends 'main.html' %}

{% load static %}

{% block title %}Бронирование лодки{% endblock %}

{% block content %}
    <script type="text/javascript">
        var boatId = {{ boat.pk }}
            firstPriceDate = new Date('{{ first_price_date.isoformat }}'),
            lastPriceDate = new Date('{{ last_price_date.isoformat }}'),
            priceRanges = [],
            acceptedBookingsRanges = [],

            selectedStartDate = null,
            selectedEndDate = null,
            calculatedData = null

        {% for price_range in price_ranges %}
            priceRanges.push({
                startDate: new Date(new Date('{{ price_range.0.isoformat }}').toDateString()),
                endDate: new Date(new Date('{{ price_range.1.isoformat }}').toDateString())
            })
        {% endfor %}

        {% for accepted_booking_range in accepted_bookings_ranges %}
            acceptedBookingsRanges.push({
                startDate: new Date(new Date('{{ accepted_booking_range.0.isoformat }}').toDateString()),
                endDate: new Date(new Date('{{ accepted_booking_range.1.isoformat }}').toDateString())
            })
        {% endfor %}       
    </script>

    <script type="text/javascript" src="{% static 'boat/js/booking.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/air-datepicker.css' %}">
    <script type="text/javascript" src="{% static 'js/air-datepicker.min.js' %}"></script>

    <div class="container-lg">
        <form method="post" action="{% url 'booking:confirm' boat_pk=boat.pk %}" enctype="multipart/form-data" class="needs-validation form-input-min-width" novalidate>
            {% csrf_token %}

            <input type="hidden" name="start_date" />
            <input type="hidden" name="end_date" />
            <input type="hidden" name="calculated_data" />

            <section class="jumbotron text-center">
                <h1 class="jumbotron-heading">Бронирование лодки</h1>    
            </section>

            <div class="row g-3 mb-3"> 
                <div class="col-lg">
                    <div class="card h-100">
                        {% include 'boat/view_base_info.html' %}
                    </div>
                </div>
            
                <div class="col-lg">
                    
                    <div class="card p-3 mb-3">
                        {% if prices_exist %}
                            <h4 id="priceAlert" class="mb-3"><span>Выберите период</span></h4>
                    
                            <div class="form-floating mb-3">                 
                                <input id="dateRange" type="text" placeholder="Укажите период" class="form-control false-readonly" required autocomplete="off" readonly />
                                <label>Период бронирования</label>
                                <div class="invalid-tooltip">Укажите период бронирования</div>
                            </div>
                    
                            {% if user.is_authenticated %}
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg w-100">Продолжить</button>
                                </div>
                            {% else %}
                                <a href="{% url 'user:login' %}?next={{ request.get_full_path|urlencode }}" class="btn btn-primary btn-lg w-100">Войти для бронирования</a>
                            {% endif %}
                        {% else %}
                            <div class="alert text-center text-danger fs-5">Владелец не завёл ни одного тарифа</div>
                        {% endif %}
                    </div>     
                    <div class="card p-3">
                        {% include 'boat/view_base_specs.html' %}   
                    </div> 
                </div>           
            </div>
            {% if boat.text %}
                <div class="card p-3 mb-3">{{ boat.text|default_if_none:""|linebreaks }}</div>
            {% endif %}
            
            {% if prices_exist %}
                <div class="card p-3 mb-3">
                    <h4 class="mb-3">Тарифы</h4>
                    {% include 'boat/tariffs_list.html' with tariffs=boat.tariffs.active_gte_now|dictsort:'start_date'|dictsort:'end_date' %}
                </div>  
            {% endif %}
            
        </form>
    </div>
{% endblock  %}