{% if boat.files.count > 1 %}

    <div id="fileCarousel{{forloop.counter0}}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" data-bs-touch="true">
        <ol class="carousel-indicators">
            {% for file in boat.files.all %} 
                <li data-bs-target="#fileCarousel{{forloop.parentloop.counter0}}" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0  %} class="active"> {% endif %}</li>
            {% endfor %}
        </ol> 
        <div class="carousel-inner">
            {% for file in boat.files.all %} 
                <div class="carousel-item {% if forloop.counter0 == 0  %}active{% endif %}">
                    <img class="d-block w-100 card-img-top" src="{{ file.file.url }}" />
                </div>
            {% endfor %}
        </div>
        <button type="button" class="carousel-control-prev" data-bs-target="#fileCarousel{{forloop.counter0}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <button type="button" class="carousel-control-next" data-bs-target="#fileCarousel{{forloop.counter0}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

{% elif boat.files.exists %}

    <img src="{{ boat.files.first.file.url }}" class="card-img-top" />

{% else %}

    <div class="card-img-top"></div>

{% endif %}