{% extends 'main.html' %}

{% load static %}

{% block title %}Добавить лодку{% endblock %}

{% block content %}
    <div class="container-lg">
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Добавить лодку</h1>    
        </section>
        
        <form method="post" action="." enctype="multipart/form-data" class="needs-validation form-input-min-width" novalidate>
            {% csrf_token %}
            {% include 'boat/form.html' %}                
            <hr/>
            <button type="submit" class="btn btn-outline-success mb-3">Сохранить</button>
        </form>
    </div>

{% endblock  %}