{% extends 'main.html' %}

{% load static %}

{% block title %}Добавить лодку{% endblock %}

{% block content %}
    <div class="container-lg">
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Добавить лодку</h1>    
        </section>
    </div>
        
    <form method="post" action="." enctype="multipart/form-data" class="needs-validation form-input-min-width" novalidate>
        {% csrf_token %}
        <div class="container-lg" style='margin-bottom: 70px'>
            {% include 'boat/form.html' %}                
        </div>
        <div class="fixed-bottom bg-light py-3">
            <div class="container-lg">
                <div class="row row-cols-lg-auto g-3">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-success w-100">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock  %}