{% extends 'main.html' %}

{% load static %}

{% block title %}Добавить лодку{% endblock %}

{% block content %}
    {% include 'react.html' %}

    <div class="container">
        <section class="jumbotron text-center">
          <h1 class="jumbotron-heading">Добавить лодку</h1>    
        </section>

        <form method="post" action="." enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            {% include 'boat/form.html' %}                
            <hr/>
            <button type="submit" class="btn btn-outline-success">Сохранить</button>
        </form>

    </div>

{% endblock  %}