{% load static %}
{% load l10n %}
{% load boat_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'boat/css/form.css' %}">
<script type="text/javascript" src="{% static 'boat/js/form.min.js' %}"></script>
{% include 'react.html' %}
{% include 'leaflet.html' %}

{% get_boat_coordinates boat as boat_coordinates %}

<script type="text/javascript">
    var motorBoatTypes = {{ motor_boat_types|safe }},
        comfortBoatTypes = {{ comfort_boat_types|safe }},
        boatCoordinates = {{ boat_coordinates|to_json|safe }},
        isCustomLocation = {{ boat.is_custom_location|yesno:"true,false" }};
</script>

<h4 class="mb-3">Основная информация</h4>

<div class="form-floating mb-3">                 
    <input type="text" id="name" name="name" class="form-control" placeholder="Введите название лодки" autocomplete="off" aria-describedby="invalidInputName"             
        required maxlength="255"
        value="{{ boat.name }}"
    />
    <label for="name">Название лодки</label>
    <div class="invalid-tooltip">Введите название лодки</div>
</div>

<div class="row g-3 mb-3">
    <div class="col-lg-3">
        <div class="form-floating" >
            <select class="form-select" id="manufacturerSelect" name="manufacturer" required>
                <option selected disabled value="">Выберите из списка</option>
                {% for manufacturer in manufacturers %}
                    <option value="{{ manufacturer.pk }}" {% if manufacturer.pk == boat.model.manufacturer.pk %}selected{% endif %}>{{ manufacturer.name }}</option> 
                {% endfor %}
            </select>
            <label for="manufacturerSelect">Производитель</label>
            <div class="invalid-tooltip">Выберите производителя</div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-floating" >
            <select class="form-select" id="modelSelect" name="model" required data-saved-model-id="{{ boat.model.pk }}">
                <option selected disabled value="">Выберите производителя</option>
                {% for model in boat.model.manufacturer.models.all %}
                    <option value="{{ model.pk }}" {% if model.pk == boat.model.pk %}selected{% endif %}>{{ model.name }}</option> 
                {% endfor %}
            </select>
            <label for="modelSelect">Модель</label>
            <div class="invalid-tooltip">Выберите модель</div>
        </div>
    </div>
</div>

<div class="form-floating mb-3">                 
    <textarea id="textareaText" name="text" class="form-control" placeholder="Описание лодки" autocomplete="off" style="height: 80px">{{ boat.text|default:"" }}</textarea>
    <label for="textareaText">Описание лодки</label>
</div>

<div class="form-floating mb-3" >
    <select class="form-select" id="typeSelect" name="type" required>
        <option selected disabled value="">Выберите из списка</option>
        {% for boat_type in boat_types %}
            <option value="{{ boat_type.0 }}" {% if boat_type.0 == boat.type %}selected{% endif %}>{{ boat_type.1 }}</option> 
        {% endfor %}
    </select>
    <label for="typeSelect">Тип лодки</label>
    <div class="invalid-tooltip">Выберите тип лодки</div>
</div>
    
<div class="row g-3">
    <div class="col-lg-3">
        <div class="form-floating">                 
            <input type="number" id="issueYearInput" name="issue_year" class="form-control" placeholder="Год выпуска"        
                min="1900"
                max="2999"
                step="1"
                value="{{ boat.issue_year|default_if_none:""|unlocalize }}"
            />
            <label for="name">Год выпуска</label>
            <div class="invalid-tooltip">Введите год выпуска</div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-floating mb-3">                 
            <input type="number" id="capacityInput" name="capacity" class="form-control" placeholder="Укажите вместимость лодки" autocomplete="off"
                required min="1" max="99"
                value="{{ boat.capacity }}"      
            />
            <label for="capacityInput">Вместимость, чел.</label>
            <div class="invalid-tooltip">Укажите вместимость лодки</div>
        </div>
    </div>
</div>

<h4 class="mb-3">Габариты лодки</h4>
<div class="row g-3 mb-3">
    <div class="col-lg-3">
        <div class="form-floating">                 
            <input type="number" id="lengthInput" name="length" class="form-control" placeholder="Укажите длину лодки" autocomplete="off"
                step=".01" min="0.01" max="999.99"
                required
                value="{{ boat.length|unlocalize }}"
            />
            <label for="lengthInput">Длина, м.</label>
            <div class="invalid-tooltip">Укажите длину лодки</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-floating">                 
            <input type="number" id="widthInput" name="width" class="form-control" placeholder="Укажите ширину лодки" autocomplete="off"
                step=".01" min="0.01" max="99.99"
                required    
                value="{{ boat.width|unlocalize }}"     
            />
            <label for="widthInput">Ширина, м.</label>
            <div class="invalid-tooltip">Укажите ширину лодки</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-floating">                 
            <input type="number" id="draftInput" name="draft" class="form-control" placeholder="Укажите осадку лодки" autocomplete="off"
                step=".01" min="0.01" max="9.99"
                required
                value="{{ boat.draft|unlocalize }}"
            />
            <label for="draftInput">Осадка, м.</label>
            <div class="invalid-tooltip">Укажите осадку лодки</div>
        </div>
    </div>
</div>

<div class="collapse {% if boat.is_motor_boat %}show{% endif %}" id="collapseMotorBoat">
    <h4 class="mb-3">Двигатели</h4>
    <fieldset id="fieldsetMotorBoat" {% if not boat.is_motor_boat %}disabled{% endif %}>
        <div class="row g-3 mb-3">
            <div class="col-lg-3">
                <div class="form-floating">                 
                    <input type="number" id="motorAmountInput" name="motor_amount" class="form-control" placeholder="Укажите кол-во двигателей" autocomplete="off"
                        required min="1" max="9"
                        value="{{ boat.motor_boat.motor_amount }}"     
                    />
                    <label for="widthInput">Кол-во двигателей</label>
                    <div class="invalid-tooltip">Укажите кол-во двигателей</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">                 
                    <input type="number" id="motorPowerInput" name="motor_power" class="form-control" placeholder="Укажите мощность двигателей" autocomplete="off"
                        step=".1" min="0.1" max="9999.9"
                        required
                        value="{{ boat.motor_boat.motor_power|unlocalize }}"     
                    />
                    <label for="widthInput">Мощность, л.с.</label>
                    <div class="invalid-tooltip">Укажите мощность двигателей</div>
                </div>
            </div>
        </div>  
    </fieldset>
</div>

<div class="collapse {% if boat.is_comfort_boat %}show{% endif %}" id="collapseComfortBoat">
    <h4 class="mb-3">Удобства</h4>
    <fieldset {% if not boat.is_comfort_boat %}disabled{% endif %}>
        <div class="row g-3 mb-3">
            <div class="col-lg-3">
                <div class="form-floating">                 
                    <input type="number" id="berthAmountInput" name="berth_amount" class="form-control" placeholder="Укажите кол-во спальных мест" autocomplete="off"
                        required min="0" max="99"
                        value="{{ boat.comfort_boat.berth_amount }}"     
                    />
                    <label for="widthInput">Кол-во спальных мест</label>
                    <div class="invalid-tooltip">Укажите от 0 до 99</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">                 
                    <input type="number" id="extraBerthAmountInput" name="extra_berth_amount" class="form-control" placeholder="Укажите кол-во доп. спальных мест" autocomplete="off"
                        required min="0" max="99"
                        value="{{ boat.comfort_boat.extra_berth_amount }}"     
                    />
                    <label for="widthInput">Кол-во доп. спальных мест</label>
                    <div class="invalid-tooltip">Укажите от 0 до 99</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">                 
                    <input type="number" id="cabinAmountInput" name="cabin_amount" class="form-control" placeholder="Укажите кол-во кают" autocomplete="off"
                        required min="0" max="99"
                        value="{{ boat.comfort_boat.cabin_amount }}"     
                    />
                    <label for="widthInput">Кол-во кают</label>
                    <div class="invalid-tooltip">Укажите от 0 до 99</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">                 
                    <input type="number" id="bathroomAmountInput" name="bathroom_amount" class="form-control" placeholder="Укажите кол-во сан. узлов" autocomplete="off"
                        required min="0" max="9"
                        value="{{ boat.comfort_boat.bathroom_amount }}"     
                    />
                    <label for="widthInput">Кол-во сан. узлов</label>
                    <div class="invalid-tooltip">Укажите кол-во сан. узлов</div>
                </div>
            </div>
        </div>  
    </fieldset>
</div>

<h4 class="mb-3">Местоположение</h4>

<div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" id="switchCustomLocation" name="is_custom_location">
    <label class="form-check-label" for="switchCustomLocation">Указать на карте</label>
</div>

<div class="collapse mb-3" id="collapseCustomAddress">
    <div class="addressLabel mb-3">Адрес не указан</div>  
    <div class="row g-2">            
        <div class="col col-lg-auto">
            <button id="btnShowAddressMapModal" type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#addressMapModal">Указать адрес</button>                          
        </div>
    </div>
</div>

<div class="collapse show" id="collapseBase">
    <div class="form-floating mb-3">
        <select class="form-select" id="baseSelect" name="base">
            <option selected value="">Не указана</option>
            {% for base in bases %}
            <option value="{{ base.pk }}" {% if base == boat.base %}selected{% endif %}>{{ base.name }} ({{ base.state }})</option> 
            {% endfor %}
        </select>
        <label for="baseSelect">База</label>
    </div>
</div>

<div id="addressMapModal" class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down" role="document">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title">Укажите адрес</h5>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input id="addressMapModalSearchText" type="text" name="search" class="form-control" placeholder="Введите адрес для поиска" autocomplete="off" maxlength="255" />
                    <button id="addressMapModalSearchButton" type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                    </button>
                </div>
                <div id="mapContainer">
                    <div id="map" class="mb-3"></div>
                    <label class="addressLabel">Поставьте точку на карте</label>
                </div>
            </div>
            <div class="modal-footer d-block">
                <div class="row g-0 m-0">
                    <div class="col col-lg-auto">                
                        <button id="btnOkAddressMapModal" type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-3">
    <h4 class="mb-3">Аренда</h4>
    <div class="form-check mb-3">
        <input class="form-check-input" id="prepaymentRequiredCheck" type="checkbox" name="prepayment_required" {% if boat.prepayment_required %} checked {% endif %}>
        <label class="form-check-label" for="prepaymentRequiredCheck">Требуется предоплата</label>
    </div>

    <div class="form-floating mb-3" >
        <select class="form-select" name="term">
            <option selected value="">Не указаны</option>
            {% for term in terms %}
                <option value="{{ term.pk }}" {% if term == boat.term %}selected{% endif %}>{{ term.name }}</option> 
            {% endfor %}
        </select>
        <label for="typeSelect">Условия</label>
    </div>
    <button id="btnAddTerm" type="button" class="btn btn-outline-primary col-12 col-sm-auto" data-action="{% url 'boat:create_term' %}?is_popup=1">
        Добавить условия аренды
    </button>
</div>

<div class="mb-3">
    <h4 class="">Фотографии</h4>
    <div class="small text-muted mb-3">Не более 30 фотографий, каждая размером не более 7 МБ.</div>
    <div id="react_app_photos" data-boat-id="{{ boat.id }}">
        <div class="text-center">
            <img class="loading-ship-wheel" src="{% static 'img/ship-wheel-2.png' %}" />
        </div>
    </div>
    <script type="text/javascript" src="{% static 'boat/js/form-files.min.js' %}"></script>
</div>