{% load static %}
{% load l10n %}

<link rel="stylesheet" type="text/css" href="{% static 'boat/css/form.css' %}">
<script type="text/javascript" src="{% static 'boat/js/form.min.js' %}"></script>
{% include 'react.html' %}
{% include 'leaflet.html' %}

<script type="text/javascript">
    var motorBoatTypes = {{ motor_boat_types|safe }},
        comfortBoatTypes = {{ comfort_boat_types|safe }},
        priceTypes = {{ price_types|safe }},
        prices = {{ prices|safe|default:"[]" }},
        boatCoordinates = {{ boat_coordinates|safe }};
</script>

<h4 class="mb-3">Основная информация</h4>

<div class="form-floating mb-3">                 
    <input type="text" id="name" name="name" class="form-control" placeholder="Введите название лодки" autocomplete="off" aria-describedby="invalidInputName"             
        required maxlength="255"
        value="{{ boat.name }}"
    />
    <label for="name">Название лодки</label>
    <div class="invalid-tooltip">Введите название лодки</div>
</div>

<div class="form-floating mb-3">                 
    <textarea id="textareaText" name="text" class="form-control" placeholder="Описание лодки" autocomplete="off" style="height: 200px">{{ boat.text|default:"" }}</textarea>
    <label for="textareaText">Описание лодки</label>
</div>

<div class="form-floating mb-3" >
    <select class="form-select" id="typeSelect" name="type" required>
        <option selected disabled value="">Выберите из списка</option>
        {% for boat_type in boat_types %}
        <option value="{{ boat_type.0 }}" {% if boat_type.0 == boat.type %}selected{% endif %}>{{ boat_type.1 }}</option> 
        {% endfor %}
    </select>
    <label for="typeSelect">Тип лодки</label>
    <div class="invalid-tooltip">Выберите тип лодки</div>
</div>
    
<div class="row row-cols-lg-auto">
    <div class="col">
        <div class="form-floating mb-3">                 
            <input type="number" id="issueYearInput" name="issue_year" class="form-control" placeholder="Год выпуска"        
                min="1900"
                max="2999"
                step="1"
                value="{{ boat.issue_year|unlocalize|default:"" }}"
            />
            <label for="name">Год выпуска</label>
            <div class="invalid-tooltip">Введите год выпуска</div>
        </div>
    </div>
</div>

<div class="row row-cols-lg-auto">
    <div class="col">
        <div class="form-floating mb-3">                 
            <input type="number" id="capacityInput" name="capacity" class="form-control" placeholder="Укажите вместимость лодки" autocomplete="off"
                required min="1" max="99"
                value="{{ boat.capacity }}"      
            />
            <label for="capacityInput">Вместимость, чел.</label>
            <div class="invalid-tooltip">Укажите вместимость лодки</div>
        </div>
    </div>
</div>

<h4 class="mb-3">Габариты лодки</h4>
<div class="row row-cols-lg-auto">
    <div class="col">
        <div class="form-floating mb-3">                 
            <input type="number" id="lengthInput" name="length" class="form-control" placeholder="Укажите длину лодки" autocomplete="off"
                step=".1" min="0.1" max="999.9"
                required
                value="{{ boat.length|unlocalize }}"
            />
            <label for="lengthInput">Длина, м.</label>
            <div class="invalid-tooltip">Укажите длину лодки</div>
        </div>
    </div>
    <div class="col">
        <div class="form-floating mb-3">                 
            <input type="number" id="widthInput" name="width" class="form-control" placeholder="Укажите ширину лодки" autocomplete="off"
                step=".1" min="0.1" max="99.9"
                required    
                value="{{ boat.width|unlocalize }}"     
            />
            <label for="widthInput">Ширина, м.</label>
            <div class="invalid-tooltip">Укажите ширину лодки</div>
        </div>
    </div>
    <div class="col">
        <div class="form-floating mb-3">                 
            <input type="number" id="draftInput" name="draft" class="form-control" placeholder="Укажите осадку лодки" autocomplete="off"
                step=".1" min="0.1" max="9.9"
                required
                value="{{ boat.draft|unlocalize }}"
            />
            <label for="draftInput">Осадка, м.</label>
            <div class="invalid-tooltip">Укажите осадку лодки</div>
        </div>
    </div>
</div>

<div class="collapse {% if boat.is_motor_boat %}show{% endif %}" id="collapseMotorBoat">
    <h4 class="mb-3">Двигатели</h4>
    <fieldset id="fieldsetMotorBoat" {% if not boat.is_motor_boat %}disabled{% endif %}>
        <div class="row row-cols-lg-auto">
            <div class="col">
                <div class="form-floating mb-3">                 
                    <input type="number" id="motorAmountInput" name="motor_amount" class="form-control" placeholder="Укажите кол-во двигателей" autocomplete="off"
                        required min="1" max="9"
                        value="{{ boat.motor_boat.motor_amount }}"     
                    />
                    <label for="widthInput">Кол-во двигателей</label>
                    <div class="invalid-tooltip">Укажите кол-во двигателей</div>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">                 
                    <input type="number" id="motorPowerInput" name="motor_power" class="form-control" placeholder="Укажите мощность двигателей" autocomplete="off"
                        step=".1" min="0.1" max="9999.9"
                        required
                        value="{{ boat.motor_boat.motor_power|unlocalize }}"     
                    />
                    <label for="widthInput">Мощность, л.с.</label>
                    <div class="invalid-tooltip">Укажите мощность двигателей</div>
                </div>
            </div>
        </div>  
    </fieldset>
</div>

<div class="collapse {% if boat.is_comfort_boat %}show{% endif %}" id="collapseComfortBoat">
    <h4 class="mb-3">Удобства</h4>
    <fieldset {% if not boat.is_comfort_boat %}disabled{% endif %}>
        <div class="row row-cols-lg-auto">
            <div class="col">
                <div class="form-floating mb-3">                 
                    <input type="number" id="berthAmountInput" name="berth_amount" class="form-control" placeholder="Укажите кол-во спальных мест" autocomplete="off"
                        required min="1" max="99"
                        value="{{ boat.comfort_boat.berth_amount }}"     
                    />
                    <label for="widthInput">Кол-во спальных мест</label>
                    <div class="invalid-tooltip">Укажите кол-во спальных мест</div>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">                 
                    <input type="number" id="cabinAmountInput" name="cabin_amount" class="form-control" placeholder="Укажите кол-во кают" autocomplete="off"
                        required min="1" max="99"
                        value="{{ boat.comfort_boat.cabin_amount }}"     
                    />
                    <label for="widthInput">Кол-во кают</label>
                    <div class="invalid-tooltip">Укажите кол-во кают</div>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">                 
                    <input type="number" id="bathroomAmountInput" name="bathroom_amount" class="form-control" placeholder="Укажите кол-во сан. узлов" autocomplete="off"
                        required min="1" max="9"
                        value="{{ boat.comfort_boat.bathroom_amount }}"     
                    />
                    <label for="widthInput">Кол-во сан. узлов</label>
                    <div class="invalid-tooltip">Укажите кол-во сан. узлов</div>
                </div>
            </div>
        </div>  
    </fieldset>
</div>

<h4 class="mb-3">Местоположение</h4>

<div class="form-check form-switch mb-3">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCustomLocation" name="is_custom_location">
    <label class="form-check-label" for="switchCustomLocation">Своё местоположение</label>
</div>

<div class="collapse" id="collapseCustomAddress">
    <div class="addressLabel mb-3">Адрес не указан</div>  
    <button id="btnShowAddressMapModal" type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#addressMapModal">Указать адрес</button>
</div>

<div class="collapse show" id="collapseBase">
    <div class="form-floating mb-3">
        <select class="form-select" id="baseSelect" name="base">
            <option selected value="">Не указана</option>
            {% for base in bases %}
            <option value="{{ base.pk }}" {% if base == boat.base %}selected{% endif %}>{{ base.name }} ({{ base.state }})</option> 
            {% endfor %}
        </select>
        <label for="baseSelect">База</label>
    </div>
</div>

<div id="addressMapModal" class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down" role="document">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title">Укажите адрес</h5>
            </div>
            <div class="modal-body">
                <div id="mapContainer">
                    <div id="map" class="mb-3"></div>
                    <label class="addressLabel">Поставьте точку на карте</label>
                </div>
            </div>
            <div class="modal-footer">             
                <button id="btnOkAddressMapModal" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Закрыть</button>
              </div>
        </div>
    </div>
</div>

<div class="mb-3">
    <h4 class="mb-3">Цена аренды</h4>
    <div id="react_app_prices" data-boat-id="{{ boat.id }}">
        <div class="text-center">
            <img class="loading-ship-wheel" src="{% static 'img/ship-wheel-2.png' %}" />
        </div>
    </div>
    <script type="text/javascript" src="{% static 'boat/js/form-prices.min.js' %}"></script>
</div>


<div class="mb-3">
    <h4 class="mb-3">Фотографии</h4>
    <div id="react_app_photos" data-boat-id="{{ boat.id }}">
        <div class="text-center">
            <img class="loading-ship-wheel" src="{% static 'img/ship-wheel-2.png' %}" />
        </div>
    </div>
    <script type="text/javascript" src="{% static 'boat/js/form-files.min.js' %}"></script>
</div>