{% extends 'main.html' %}

{% load static %}

{% block title %}Мой флот{% endblock  %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/list.min.js' %}"></script>
    
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Мой флот</h1>
          <p class="lead text-muted">Здесь {% if not boats %}будут{% endif %} представлены все ваши лодки</p>
          <p>
            <a href="{% url 'boat:create' %}" class="btn btn-primary my-2">Добавить лодку</a>
          </p>
        </div>
    </section>

    {% if boats %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row g-4">
                    {% for boat in boats %}
                        <div class="col-lg-4 col-md-4">
                            <div class="card box-shadow h-100">
                                <a href="{% url 'boat:update' boat.id %}">
                                    {% include 'boat/carousel.html' %}
                                </a>    
                                <div class="card-body">
                                    <h5 class="card-title">{{ boat.name }}</h5>     
                                    <h6 class="card-subtitle mb-2 text-muted">{{ boat.get_type_display }}</h6>  
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock  %}