{% load static %}
{% load boat_extras %}
{% get_boat_coordinates boat as coordinates %}

<div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
    </svg>
    {% if boat.base %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#modalMap" class="text-primary"
            data-coordinates-lat="{{ coordinates.lat|stringformat:".6f" }}"
            data-coordinates-lon="{{ coordinates.lon|stringformat:".6f" }}"
            data-coordinates-address="{{ coordinates.address }}">{{ boat.base.name }}, {{ boat.base.state }}</a>
    {% elif boat.is_custom_location %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#modalMap" class="text-primary"
            data-coordinates-lat="{{ coordinates.lat|stringformat:".6f" }}"
            data-coordinates-lon="{{ coordinates.lon|stringformat:".6f" }}"
            data-coordinates-address="{{ coordinates.address }}">{{ boat.coordinates.state }}</a>
    {% else %}
        <span class="text-muted">Местоположение не указано</span>
    {% endif %}
</div>

