{% extends 'main.html' %}

{% load static %}

{% block title %}Модерация лодки{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/moderate.min.js' %}"></script>

    <div class="container-lg" data-boat-modified="{{ boat.modified.isoformat }}">
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Модерация лодки</h1>    
        </section>

        {% include 'boat/view_base.html' with show_prices=True %}

        <div class="row g-3">            
            <div class="col-auto pe-0">
                <a id="btnAcceptBoat" class="btn btn-outline-success mb-3" href="{% url 'boat:api_accept_boat' boat.pk %}">Акцептовать</a>                          
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#declineModal">Отказать</button>
            </div>
        </div>
    </div>

    <div id="outdatedModal" class="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" style="display: none">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 380px;">
            <div class="modal-content rounded shadow">
                <div class="modal-body p-4 text-center">
                    <h5>Данные лодки устарели</h5>
                    <p class="mb-0">Страница будет перезагружена</p>
                </div>
                <div class="modal-footer text-center p-0">
                    <button type="button" class="btn btn-link text-decoration-none m-0 col-12">
                        <strong>Понятно</strong>
                    </button>             
                </div>
            </div>
        </div>
    </div>

    <div id="declineModal" class="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" style="display: none">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 380px;">
            <div class="modal-content rounded shadow">
                <form id="formDecline" method="post" action="{% url 'boat:api_decline_boat' boat.pk %}" class="needs-validation" novalidate>
                    <div class="modal-body p-4 text-center">
                        
                        <div class="form-floating mb-3">
                            <select class="form-select" id="reasonSelect" name="reason" required>
                                <option selected disabled value="">Выберите из списка</option>
                                {% for reason in reasons %}
                                    <option value="{{ reason.0 }}">{{ reason.1 }}</option> 
                                {% endfor %}
                            </select>
                            <label for="reasonSelect">Причина отказа</label>
                            <div class="invalid-tooltip">Выберите причину отказа</div>
                        </div>  
                        
                        <div class="form-floating">                 
                            <textarea id="textareaText" name="comment" class="form-control" placeholder="Комментарий" autocomplete="off" style="height: 100px"></textarea>
                            <label for="textareaText">Комментарий</label>
                        </div>

                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                        <button type="submit" class="btn btn-l btn-link fs-6 text-decoration-none text-danger col-6 m-0 rounded-0 border-end">
                            <strong>Отказать</strong>
                        </button>
                        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">Отмена</button>               
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}