{% extends 'main.html' %}

{% load static %}

{% block title %}Модерация лодки{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/moderate.min.js' %}"></script>

    <div>
        <div class="container-lg">
            <section class="jumbotron text-center">
                <h1 class="jumbotron-heading">Модерация лодки</h1>    
            </section>       

            {% if errors %}
                <div class="alert alert-danger">{{ errors }}</div>
            {% endif %}

            {% include 'boat/view_base.html' %}

            {% if boat.term.content %}
                <div class="card mb-3 p-3">
                    <h4>Условия аренды</h4>
                    <div>
                        {{ boat.term.content|safe }}
                    </div>
                </div>
            {% endif %}

            {% if boat.tariffs.exists %}
                <div class="card p-3 mb-3">
                    <h4 class="mb-3">Тарифы</h4>
                    {% include 'boat/tariffs_list.html' with tariffs=boat.tariffs.all|dictsort:'start_date'|dictsort:'end_date' show_active_column=True %}
                </div>
            {% endif %}
        </div>

        <div class="sticky-bottom container-lg mb-3">
            <div class="card p-3">
                <div class="row g-2">            
                    <div class="col col-lg-auto">
                        <form action="{% url 'boat:accept' boat.pk %}" method="post">
                            {% csrf_token %} 
                            <input type="hidden" name="modified" value="{{ boat.modified.isoformat }}" />
                            <button type="submit" class="btn btn-primary w-100">Принять</button>
                        </form>                         
                    </div>
                    <div class="col col-lg-auto d-none d-lg-block">
                        <button type="button" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#declineModal">Отказать</button>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="vr d-none d-lg-block h-100 mx-lg-2"></div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <a class="btn btn-outline-primary" href="{% url 'chat:boat' boat.pk %}?back={{ request.path }}">Чат</a>
                    </div>
                    <div class="col d-lg-none">
                        <div class="dropdown">
                            <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Действия
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'chat:boat' boat.pk %}?back={{ request.path }}">Чат</a></li>
                                <li><button class="dropdown-item text-danger" type="button" data-bs-toggle="modal" data-bs-target="#declineModal">Отказать</button></li>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="declineModal" class="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" style="display: none">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 380px;">
            <div class="modal-content box-shadow">
                <form action="{% url 'boat:reject' boat.pk %}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %} 
                    <input type="hidden" name="modified" value="{{ boat.modified.isoformat }}" />
                    <div class="modal-body p-4">
                        <h5 class="text-center mb-4">Отказ в публикации</h5>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="reasonSelect" name="reason" required>
                                <option disabled value="">Выберите из списка</option>
                                {% for reason in reasons %}
                                    <option {% if reason.0 == 0 %}selected{% endif %} value="{{ reason.0 }}">{{ reason.1 }}</option> 
                                {% endfor %}
                            </select>
                            <label for="reasonSelect">Причина отказа</label>
                            <div class="invalid-tooltip">Выберите причину отказа</div>
                        </div>  
                        
                        <div class="form-floating">                 
                            <textarea id="textareaText" name="comment" class="form-control" placeholder="Комментарий" autocomplete="off" style="height: 100px"></textarea>
                            <label for="textareaText">Комментарий</label>
                        </div>

                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                        <button type="submit" class="btn btn-l btn-link fs-6 text-decoration-none text-danger col-6 m-0 rounded-0 border-end">
                            <strong>Отказать</strong>
                        </button>
                        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">Отмена</button>               
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}