{% extends 'main.html' %}

{% load static %}
{% load humanize %}

{% block title %}Мой флот{% endblock  %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/my_boats.min.js' %}"></script>
    
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Мой флот</h1>
            <p class="lead text-muted">Здесь {% if not boats %}будут{% endif %} представлены все ваши лодки</p>
            <a href="{% url 'boat:create' %}" class="btn btn-primary my-2">Добавить лодку</a>
        </div>
    </section>

    {% if boats %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row g-4">
                    {% for boat in boats %}
                        <div class="col-lg-4 col-md-4">
                            <div class="card box-shadow h-100">
                                <a href="{% url 'boat:update' boat.id %}" >
                                    {% include 'boat/carousel.html' %}
                                </a>    
                                <div class="card-body d-flex flex-column">
                                    {% include 'boat/card.html' %}
                                    <div class="dropdown mt-auto">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuStatus{{ boat.pk }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            Действия
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuStatus{{ boat.pk }}">
                                            {% if boat.status == Status.SAVED %}
                                                <li><a class="dropdown-item" href="#" data-boat-id="{{ boat.pk }}" data-status="{{ Status.CHECKING }}">Отправить на проверку</a></li>
                                            {% elif boat.status == Status.PUBLISHED %}
                                                <li><a class="dropdown-item" href="#" data-boat-id="{{ boat.pk }}" data-status="{{ Status.SAVED }}">Вернуть в заготовку</a></li>
                                            {% else %}
                                                <li><span class="dropdown-item disabled">Нет доступных статусов</span></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <h5>
                                    <span class="position-absolute top-0 start-100 translate-95-right badge bg-secondary">{{ boat.get_status_display }}</span>
                                </h5>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock  %}