{% extends 'main.html' %}

{% load static %}
{% load humanize %}
{% load boat_extras %}

{% block title %}Мой флот{% endblock  %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/my_boats.min.js' %}"></script>
    
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Мой флот</h1>
            <p class="lead text-muted">Здесь {% if not boats %}будут{% endif %} представлены все ваши лодки</p>
            <a href="{% url 'boat:create' %}" class="btn btn-primary my-2">Добавить лодку</a>
        </div>
    </section>

    {% if boats %}
        {% include 'paginator.html' with class="mb-3" %}
        <div class="album py-5 bg-light">
            <div class="container">
                
                <div class="row g-4">
                    {% for boat in boats %}
                        <div class="col-lg-4 col-md-4">
                            <div class="card box-shadow h-100">
                                <a href="{% url 'boat:view' boat.id %}" >
                                    {% include 'boat/carousel.html' %}
                                </a>    
                                <div class="card-body d-flex flex-column">
                                    {% include 'boat/card.html' %}
                                    <div class="dropdown mt-auto">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuStatus{{ boat.pk }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            Действия
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuStatus{{ boat.pk }}">
                                            <li><a class="dropdown-item" href="{% url 'boat:update' boat.id %}">Редактировать</a></li>
                                            <li>
                                                <button class="dropdown-item text-danger" data-boat-id="{{ boat.pk }}" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                                    Удалить
                                                </button>
                                            </li>
    
                                            <li><hr class="dropdown-divider"></li>
                                            {% if boat.status == Status.SAVED %}
                                                <li><a class="dropdown-item" href="#" data-boat-id="{{ boat.pk }}" data-status="{{ Status.ON_MODERATION }}">Опубликовать</a></li>
                                            {% elif boat.status == Status.ON_MODERATION %}
                                                <li><a class="dropdown-item" href="#" data-boat-id="{{ boat.pk }}" data-status="{{ Status.SAVED }}">Отозвать с проверки</a></li>
                                            {% elif boat.status == Status.PUBLISHED %}
                                                <li><a class="dropdown-item" href="#" data-boat-id="{{ boat.pk }}" data-status="{{ Status.SAVED }}">Снять с публикации</a></li>
                                            {% elif boat.status == Status.DECLINED %}
                                                <li><a class="dropdown-item" href="#" data-boat-id="{{ boat.pk }}" data-status="{{ Status.ON_MODERATION }}">Опубликовать</a></li>
                                            {% endif %}
                                      
                                        </ul>
                                    </div>
                                </div>
                                {% if boat.status != Status.SAVED %}
                                    <h5>
                                        <span style="left: 5px; top: 5px;" class="position-absolute badge {{ boat.status|get_status_color }}">
                                            {{ boat.get_status_display }}
                                        </span>
                                    </h5>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                </div>
                
            </div>
        </div>
        {% include 'paginator.html' with class="my-3" %}

        {% include 'boat/delete_modal.html' %}
    {% endif %}
{% endblock  %}