{% extends 'main.html' %}

{% load static %}

{% block title %}Добавление условий аренды{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="container-lg">
        <section class="jumbotron text-center">   
            <h1 class="jumbotron-heading">Добавление условий аренды</h1>    
        </section>
    </div>

    <form method="post" action="{% url 'boat:create_term' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="container-lg">
            {% include 'boat/term_form.html' %}             
        </div>
        <div class="sticky-bottom container-lg mb-3">
            <div class="card p-3">
                <div class="row g-2">      
                    <div class="col col-lg-auto">
                        <button type="submit" class="btn btn-primary w-100">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}{% endblock %}