{% extends 'main.html' %}
{% load static %}
{% load boat_extras %}

{% block title %}Поиск лодки{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'boat/css/search_boats.css?a=13' %}">

    <div class="container-md">
        <section class="jumbotron text-center ">      
            <h1 class="jumbotron-heading">Поиск лодки</h1>
        </section>

        <div class="search-boats-panel d-flex justify-content-center mb-3">
            <div>
                <form action='.' method="get" class="needs-validation" novalidate>
                    <div class="form-floating mb-3">                 
                        <input type="date" name="dateFrom" class="form-control" value="{{ request.GET.dateFrom }}" required />
                        <label>Начало периода</label>
                        <div class="invalid-tooltip">Укажите начало периода</div>
                    </div>
                    <div class="form-floating mb-3">                 
                        <input type="date" name="dateTo" class="form-control" value="{{ request.GET.dateTo }}" required />
                        <label>Окончание периода</label>
                        <div class="invalid-tooltip">Укажите окончание периода</div>
                    </div>

                    <button class="btn btn-primary btn-lg w-100" type="submit">Поиск</button>
                </form>
            </div>
        </div>

        {% if searched %}
            <p class="lead text-muted">Найдено: {{ boats.count }}</p>
        {% endif %}

        <div class="album">
            <div class="row g-4">
                {% for boat in boats %}
                    <div class="col-lg-4 col-md-4">
                        <div class="card box-shadow h-100">
                            <a href="{% url 'boat:booking' boat.id %}?dateFrom={{ request.GET.dateFrom }}&dateTo={{ request.GET.dateTo }}">
                                {% include 'boat/carousel.html' %}
                            </a>    
                            <div class="card-body d-flex flex-column">
                                {% include 'boat/card.html' %}
                                {% get_min_price boat=boat start_date=request.GET.dateFrom end_date=request.GET.dateTo as min_price %}
                                <div class="text-success fs-3 text-end">от {{ min_price }}&nbsp;₽</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}