{% load boat_extras %}

{% if tariffs %}
    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
                <tr>
                    <th>Название</th>
                    {% if show_active_column %}<th>Активен</th>{% endif %}
                    <th>Цена</th>
                    <th>Продолжительность</th>
                    <th>Срок аренды</th>
                    <th>Дни начала тарифа</th>
                </tr>
            </thead>
            <tbody>

                {% for tariff in tariffs %}
                    {% get_duration_display tariff as duration_display %}

                    {% ifchanged tariff.start_date tariff.end_date %}
                        <tr>
                            <td colspan="{% if show_active_column %}6{% else %}5{% endif %}"><h6 class="bg-light  p-2">{{ tariff.start_date }} - {{ tariff.end_date }}</h6></td>
                        </tr>      
                    {% endifchanged  %}
                    <tr>
                        {% if show_edit_href %}
                            <td><a href="{% url 'boat:update_tariff' tariff.pk %}">{{ tariff.name }}</a></td>
                        {% else %}
                            <td>{{ tariff.name }}</td>
                        {% endif %}
                        
                        {% if show_active_column %}
                            <td class="{% if tariff.active %}text-success{% else %}text-danger{% endif %}">{{ tariff.active|yesno:"Да,Нет" }}</td>
                        {% endif %}
                        
                        <td>{{ tariff.price }}</td>
                        <td>{{ duration_display|capfirst }}</td>
                        <td>{% get_min_display tariff %}</td>
                        <td>{% get_weekdays_display tariff %}</td>
                    </tr>      
                {% endfor %} 

            </tbody>   
        </table>
    </div>
{% endif %}