{% extends 'main.html' %}

{% load static %}

{% block title %}Тарифы{% endblock  %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading mb-1">Тарифы</h1>

            <!--<a href="{% url 'boat:create' %}" class="btn btn-primary my-2">Добавить тариф</a>-->
        </div>
    </section>

    <div class="container">
        {% include 'boat/tariffs_list.html' with tariffs=boat.tariffs.all show_active_column=True show_edit_href=True %}
    </div>

{% endblock  %}