{% load boat_extras %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                {% if show_active_column %}<th>Активен</th>{% endif %}
                <th>Цена</th>
                <th>Продолжительность</th>
                <th>Минимум</th>
                <th>Дни начала аренды</th>
            </tr>
        </thead>
        <tbody>

            {% for tariff in tariffs %}

                {% ifchanged tariff.start_date tariff.end_date %}
                    <tr>
                        <td colspan="6"><h6 class="bg-light  p-2">{{ tariff.start_date }} - {{ tariff.end_date }}</h6></td>
                    </tr>      
                {% endifchanged  %}
                <tr>
                    <td>{{ tariff.name }}</td>
                    {% if show_active_column %}
                        <td class="{% if tariff.active %}text-success{% else %}text-danger{% endif %}">{{ tariff.active|yesno:"Да,Нет" }}</td>
                    {% endif %}
                    <td>{{ tariff.price }}</td>
                    <td>{{ tariff.duration }}</td>
                    <td>{{ tariff.min }}</td>
                    <td>{% get_weekdays_display tariff %}</td>
                </tr>      
            {% endfor %} 

        </tbody>   
    </table>
</div>