{% load l10n %}
{% load static %}

{% include 'form_errors.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/summernote-lite.min.css' %}">
<script type="text/javascript" src="{% static 'js/summernote-lite.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/summernote-ru-RU.min.js' %}"></script>
<script type="text/javascript" src="{% static 'boat/js/term_form.min.js' %}"></script>

<input type="hidden" name="is_popup" value="{{ request.GET.is_popup }}" />

<div class="form-floating mb-3">                 
    <input type="text" name="name" class="form-control" placeholder="Укажите" autocomplete="off"           
        required maxlength="255"
        value="{{ form.name.value|default:'' }}"
    />
    <label for="name">{{ form.name.label }}</label>
    <div class="invalid-tooltip">Укажите</div>
</div>

<h4 class="mb-3">{{ form.content.label }}</h4>
<div class="position-relative mb-5">                 
    <textarea name="content" class="form-control" required>{{ form.content.value|default:"" }}</textarea>
    <div class="invalid-tooltip">Укажите</div>
</div>