{% extends 'main.html' %}

{% load static %}

{% block title %}Изменить лодку{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/update.min.js' %}"></script>

    <div class="container">
        <section class="jumbotron text-center">   
          <h1 class="jumbotron-heading">Изменить лодку</h1>    
        </section>

        <form method="post" action="/boats/api/update/{{ boat.id }}/" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            {% include 'boat/form.html' %}                
            <hr/>
            <div class="row g-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-success">Сохранить</button>                          
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Удалить</button>
                </div>
            </div>
        </form>

         <div id="confirmDeleteModal" class="modal" data-boat-id="{{ boat.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeletionModalLabel" style="display: none">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeletionModalLabel">Удаление актива</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Удалить лодку?</p>
                </div>
                <div class="modal-footer">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>               
                </div>
                </div>
            </div>
        </div>

        <!--<script>
            {% if boat %}
                var boat = {{ boat|safe }};
            {% endif %}
        </script>

        <div id="react_app">
            <div class="text-center">
                <img class="loading-ship-wheel" src="{% static 'img/ship-wheel-2.png' %}" />
            </div>
        </div>
        <script type="text/javascript" src="{% static 'boat/js/update.min.js' %}"></script>-->

    </div>

{% endblock  %}