{% extends 'main.html' %}

{% load static %}

{% block title %}Изменение лодки{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/update.min.js' %}"></script>

    <div class="container-lg">
        <section class="jumbotron text-center">   
            <h1 class="jumbotron-heading">Изменение лодки</h1>    
        </section>

        {% include 'boat/alert_boat_declined.html' %}
    </div>

    <form method="post" action="/boats/api/update/{{ boat.id }}/" enctype="multipart/form-data" class="needs-validation form-input-min-width" novalidate>
        {% csrf_token %}
        <div class="container-lg">
            {% include 'boat/form.html' %}                
        </div>

        <div class="sticky-bottom bg-light py-3">
            <div class="container-lg">
                <fieldset {% if boat.is_read_only %}disabled{% endif %}>
                    <div class="row g-2">            
                        <div class="col col-lg-auto">
                            <button type="submit" class="btn btn-primary w-100">Сохранить</button>                          
                        </div>
                        <div class="col col-lg-auto">
                            <button type="button" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Удалить</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>

    {% include 'boat/delete_modal.html' %}
{% endblock  %}