{% extends 'main.html' %}

{% load static %}

{% block title %}Изменить лодку{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'boat/js/update.min.js' %}"></script>

    {% if boat.is_read_only %}
        <div class="alert-container alert alert-danger position-fixed w-100 top-0-header" role="alert">
            Лодка может быть изменена только на статусе "Заготовка"
        </div>
    {% endif %}

    <div class="container-lg">
        <section class="jumbotron text-center">   
            <h1 class="jumbotron-heading">Изменить лодку</h1>    
        </section>

        {% include 'boat/alert_boat_declined.html' %}

        <form method="post" action="/boats/api/update/{{ boat.id }}/" enctype="multipart/form-data" class="needs-validation form-input-min-width" novalidate>
            {% csrf_token %}
            {% include 'boat/form.html' %}                
            <hr/>
            <fieldset {% if boat.is_read_only %}disabled{% endif %}>
                <div class="row g-3">            
                    <div class="col-auto pe-0">
                        <button type="submit" class="btn btn-outline-success mb-3">Сохранить</button>                          
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Удалить</button>
                    </div>
                </div>
            </fieldset>
        </form>

        {% include 'boat/delete_modal.html' %}
    </div>

{% endblock  %}