{% load l10n %}

<!--<h2>{{ boat.name }}</h2>   
<h4 class="text-muted">{{ boat.get_type_display }}</h4>   

{% include 'boat/location.html' %}
<div class="mt-3">{{ boat.text|default_if_none:""|linebreaks }}</div>
{% include 'modal_map.html' %}-->

<div class="row row-cols-3 gx-3">   
    <div class="col-12">
        <h5>Основная информация</h5>
    </div>                
    <div class="col">
        <p class="text-muted">
            <span class="d-block">Длина, м.</span><span class="text-black">{{ boat.length }}</span>
        </p>
    </div>
    <div class="col">
        <p class="text-muted">
            <span class="d-block">Ширина, м.</span><span class="text-black">{{ boat.width }}</span>
        </p>
    </div>
    <div class="col">
        <p class="text-muted">
            <span class="d-block">Осадка, м.</span><span class="text-black">{{ boat.draft }}</span>
        </p>
    </div>                      
    <div class="col">
        <p class="text-muted">
            <span class="d-block">Год выпуска</span><span class="text-black">{{ boat.issue_year|default:"-"|unlocalize }}</span>
        </p>
    </div>
    <div class="col-8">
        <p class="text-muted">
            <span class="d-block">Вместимость</span><span class="text-black">{{ boat.capacity }}</span>
        </p>
    </div>
 
    <div class="col-12">
        <h5>Двигатели</h5>
    </div>                 
    <div class="col">
        <p class="text-muted">
            <span class="d-block">Кол-во</span><span class="text-black">{{ boat.motor_boat.motor_amount|default:"-" }}</span>
        </p>
    </div>
    <div class="col-8">
        <p class="text-muted">
            <span class="d-block">Мощность, л.с.</span><span class="text-black">{% if boat.is_motor_boat %}{{ boat.motor_boat.motor_power }}{% else %}-{% endif%}</span>
        </p>
    </div>                  
  
    <div class="col-12">
        <h5>Удобства</h5>
    </div>                 
    <div class="col">
        <p class="text-muted">
            <span class="d-block">Спальные места</span><span class="text-black">{{ boat.comfort_boat.berth_amount|default:"-" }}</span>
        </p>
    </div>
    <div class="col mt-auto">
        <p class="text-muted">
            <span class="d-block">Каюты</span><span class="text-black">{{ boat.comfort_boat.cabin_amount|default:"-" }}</span>
        </p>
    </div>           
    <div class="col mt-auto">
        <p class="text-muted">
            <span class="d-block">WC</span><span class="text-black">{{ boat.comfort_boat.bathroom_amount|default:"-" }}</span>
        </p>
    </div>     
    
    <div class="col-12">
        <h5>Владелец</h5>
    </div>  
    <div class="col-12 mb-3">
        {% if boat.owner.avatar_sm %}
            <img height="32" width="32" src="{{ boat.owner.avatar_sm.url }}" class="of-cover rounded-circle">
        {% endif %}
        <span class="text-muted align-middle">{{ boat.owner.first_name }}</span>
    </div>
</div>