{% extends 'main.html' %}

{% load static %}

{% block title %}Просмотр лодки{% endblock %}

{% block content %}
    <div class="container-lg" style='margin-bottom: 70px'>
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Просмотр лодки</h1>    
        </section>
        {% include 'boat/alert_boat_declined.html' %}
        {% include 'boat/view_base.html' %}     

        <div class="row mb-3">
            <div class="col col-lg-auto">
                <a class="btn btn-primary w-100" href="{% url 'boat:update' boat.pk %}" role="button">Редактировать лодку</a>   
            </div>
        </div>

        <h4 id="tariffs" class="mb-3">Тарифы</h4>

        {% include 'boat/tariffs_list.html' with tariffs=boat.tariffs.all show_active_column=True show_edit_href=True %}  
        <div class="row">
            <div class="col col-lg-auto">
                <a class="btn btn-primary mb-3 w-100" href="{% url 'boat:create_tariff' %}?boat_pk={{ boat.pk }}" >Добавить тариф</a>  
            </div>
        </div>
    </div>
    <div class="fixed-bottom bg-light py-3">
        <div class="container-lg">
            <div class="row">
                <div class="col col-lg-auto">
                    <a class="btn btn-outline-primary w-100" href="{% url 'chat:boat' boat.pk %}?back={{ request.path }}">Чат с поддержкой</a>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}