{% load l10n %}
{% load static %}
{% load boat_extras %}

{% include 'leaflet.html' %}

{% if boat.files.exists %}
    <script type="text/javascript" src="{% static 'boat/js/img_viewer.min.js' %}"></script>
    <div class="card box-shadow text-end mb-3">
        <img class="d-block w-100 card-img card-img-lg-big" src="{{ boat.files.first.file.url }}" />
    </div>  
    {% if boat.files.count > 1%}
        <div class="row g-1 mb-3">
            {% for file in boat.files.all %}
                <div class="col-auto">
                    <img class="card-img card-img-small {% if forloop.counter0 == 0  %}active{% endif %}" src="{{ file.file.url }}" />
                </div>
            {% endfor %}
        </div>  
    {% endif %}       
{% endif %}

<h2>{{ boat.name }}</h2>   
<h4 class="text-muted">{{ boat.get_type_display }}</h4>   

{% include 'boat/location.html' %}
<div class="mt-3">{{ boat.text|default_if_none:""|linebreaks }}</div>
{% include 'modal_map.html' %}