{% load l10n %}
{% load static %}
{% load boat_extras %}

{% include 'leaflet.html' %}

{% get_boat_coordinates boat as coordinates %}

<script type="text/javascript">
    var coordinates = {{ coordinates|safe }};
</script>

<script type="text/javascript" src="{% static 'boat/js/view_base.min.js' %}"></script>

<div class="row g-3"> 
    <div class="col-lg">
        {% if boat.files.exists %}
            <div class="card box-shadow text-end mb-3">
                {% if boat.files.count > 1 %}  
                    <div id="fileCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" data-bs-touch="true">
                        <ol class="carousel-indicators">
                            {% for file in boat.files.all %} 
                                <li data-bs-target="#fileCarousel{{forloop.parentloop.counter0}}" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0  %} class="active"> {% endif %}</li>
                            {% endfor %}
                        </ol> 
                        <div class="carousel-inner">
                            {% for file in boat.files.all %} 
                                <div class="carousel-item {% if forloop.counter0 == 0  %}active{% endif %}">
                                    <img class="d-block w-100 rounded carousel-img" src="{{ file.file.url }}" />
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="carousel-control-prev" data-bs-target="#fileCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button type="button" class="carousel-control-next" data-bs-target="#fileCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <!--
                        <button type="button" class="carousel-control-full-screen" data-bs-target="#fileCarousel">
                            <span class="carousel-control-full-screen-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">FullScreen</span>
                        </button>
                        -->
                    </div>
                {% elif boat.files.exists %}
                    <img class="carousel-img rounded" src="{{ boat.files.first.file.url }}" />
                {% endif %}
            </div>           
        {% endif %}
        <h2>{{ boat.name }}</h2>   
        <h4 class="text-muted">{{ boat.get_type_display }}</h4>   
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
        {% if boat.base %}
            <a href="#" data-bs-toggle="modal" data-bs-target="#addressMapModal" class="text-primary">{{ boat.base.name }}, {{ boat.base.state }}</a>
            <!--<div id="map" style="height: 200px" data-lat="{{ boat.base.lat }}" data-lng="{{ boat.base.lon }}" class="mb-3"></div>-->
        {% elif boat.is_custom_location %}
            <a href="#" data-bs-toggle="modal" data-bs-target="#addressMapModal" >{{ boat.coordinates.state }}</a>
            <!--<div id="map" style="height: 200px" data-lat="{{ boat.coordinates.lat }}" data-lng="{{ boat.coordinates.lon }}" class="mb-3"></div>-->
        {% else %}
            <span class="text-muted">Местоположение не указано</span>
        {% endif %}
        <div class="mt-3">{{ boat.text|default_if_none:""|linebreaks }}</div>
    </div>

    <div class="col-lg">
        <div class="row row-cols-3 gx-3">   
            <div class="col-12">
                <h5>Основная информация</h5>
            </div>                
            <div class="col">
                <p class="text-muted">
                    <strong class="d-block">Длина</strong>{{ boat.length }} м.
                </p>
            </div>
            <div class="col">
                <p class="text-muted">
                    <strong class="d-block">Ширина</strong>{{ boat.width }} м.
                </p>
            </div>
            <div class="col">
                <p class="text-muted">
                    <strong class="d-block">Осадка</strong>{{ boat.draft }} м.
                </p>
            </div>                      
            <div class="col">
                <p class="text-muted">
                    <strong class="d-block">Год выпуска</strong><span class="{% if not boat.issue_year %}text-danger{% endif %}">{{ boat.issue_year|default:"не указан"|unlocalize }}</span>
                </p>
            </div>
            <div class="col-8">
                <p class="text-muted">
                    <strong class="d-block">Вместимость</strong>{{ boat.capacity }} чел.
                </p>
            </div>

            {% if boat.is_motor_boat %}    
                <div class="col-12">
                    <hr/>
                    <h5>Двигатели</h5>
                </div>                 
                <div class="col">
                    <p class="text-muted">
                        <strong class="d-block">Кол-во</strong>{{ boat.motor_boat.motor_amount }}
                    </p>
                </div>
                <div class="col-8">
                    <p class="text-muted">
                        <strong class="d-block">Мощность</strong>{{ boat.motor_boat.motor_power }} л.с.
                    </p>
                </div>                  
            {% endif %}

            {% if boat.is_comfort_boat %}    
                <div class="col-12">
                    <hr/>
                    <h5>Удобства</h5>
                </div>                 
                <div class="col">
                    <p class="text-muted">
                        <strong class="d-block">Спальные места</strong>{{ boat.comfort_boat.berth_amount }}
                    </p>
                </div>
                <div class="col mt-auto">
                    <p class="text-muted">
                        <strong class="d-block">Каюты</strong>{{ boat.comfort_boat.cabin_amount }}
                    </p>
                </div>           
                <div class="col mt-auto">
                    <p class="text-muted">
                        <strong class="d-block">Сан. узлы</strong>{{ boat.comfort_boat.bathroom_amount }}
                    </p>
                </div>          
            {% endif %}

            {% if show_prices %}
                <div class="col-12">
                    <hr/>
                    <h5>Цена аренды</h5>
                </div> 
                {% if not boat.prices.exists %}
                    <div class="col">
                        <p class="text-muted">
                            <span class="d-block text-danger">не указана</span>
                        </p>
                    </div>
                {% else %}
                    {% for price in boat.prices.all %}
                        <div class="col">
                            <h5 class="text-muted">
                                {{ price.price }}&nbsp;₽
                            </h5>
                        </div>
                        <div class="col-8">
                            <p class="text-muted">
                                {{ price.start_date|date:'d.m.Y' }} - {{ price.end_date|date:'d.m.Y' }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>


    </div>           
</div>

<div id="addressMapModal" class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down" role="document">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title">Местоположение лодки</h5>
            </div>
            <div class="modal-body">
                <div id="mapContainer">
                    <div id="map" class="mb-3"></div>
                    <label class="addressLabel">Поставьте точку на карте</label>
                </div>
            </div>
            <div class="modal-footer">             
                <button id="btnOkAddressMapModal" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Закрыть</button>
              </div>
        </div>
    </div>
</div>