.file-upload-wrapper {
  border-radius: .25rem;
  transition: background-color .15s ease-in-out;
}

#map {
  height: 300px;
  border-radius: 0.25rem;
  z-index: 5;
}

@media (min-width: 992px) { 
  #map {
    height: 500px;
  }
}